<a href="https://colab.research.google.com/github/Jaya9522/daily-practice/blob/main/13_03_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
start=1
end=10
for i in range(start, end+1):
  if i >1:
    for j in range(2, i):
      if(i%j)==0:
        break
    else:
      print(i,end=" ")

2 3 5 7

In [ ]:
num=8
square_root=num ** 0.5
print('The square root of %0.3f is %0.3f'%(num ,square_root))

The square root of 8.000 is 2.828

In [ ]:
# Find square root of real or complex numbers
# Importing the complex math module
import cmath

num = 1+2j

# To take input from the user
#num = eval(input('Enter a number: '))

num_sqrt = cmath.sqrt(num)
print('The square root of {0} is {1:0.3f}+{2:0.3f}j'.format(num ,num_sqrt.real,num_sqrt.imag))

The square root of (1+2j) is 1.272+0.786j

In [ ]:
# Python Program to find the area of triangle
# s = (a+b+c)/2
# area = √(s(s-a)*(s-b)*(s-c))

a = 5
b = 6
c = 7

# Uncomment below to take inputs from the user
# a = float(input('Enter first side: '))
# b = float(input('Enter second side: '))
# c = float(input('Enter third side: '))

# calculate the semi-perimeter
s = (a + b + c) / 2

# calculate the area
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is %0.2f' %area)

The area of the triangle is 14.70

In [ ]:
# Solve the quadratic equation ax**2 + bx + c = 0
# ax2 + bx + c = 0, where
# a, b and c are real numbers and
# a ≠ 0
# The solutions of this quadratic equation is given by:

# (-b ± (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
# import complex math module
import cmath

a = 1
b = 5
c = 6

# calculate the discriminant
d = (b**2) - (4*a*c)

# find two solutions
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are (-3+0j) and (-2+0j)

In [ ]:
# Python program to swap two variables

x = 5
y = 10

# To take inputs from the user
#x = input('Enter value of x: ')
#y = input('Enter value of y: ')

# create a temporary variable and swap the values
temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

The value of x after swapping: 10
The value of y after swapping: 5

In [ ]:
# Program to generate a random number between 0 and 9

# importing the random module
import random

print(random.randint(0,9))

5

In [ ]:
# Taking kilometers input from the user
kilometers = float(input("Enter value in kilometers: "))

# conversion factor
conv_fac = 0.621371

# calculate miles
miles = kilometers * conv_fac
print('%0.2f kilometers is equal to %0.2f miles' %(kilometers,miles))

Enter value in kilometers: 5
5.00 kilometers is equal to 3.11 miles

In [ ]:
# Python Program to convert temperature in celsius to fahrenheit

# change this value for a different result
celsius = 37.5

# calculate fahrenheit
fahrenheit = (celsius * 1.8) + 32
print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

37.5 degree Celsius is equal to 99.5 degree Fahrenheit

In [ ]:
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 6
Positive number

In [ ]:
# Python program to check if the input number is odd or even.
# A number is even if division by 2 gives a remainder of 0.
# If the remainder is 1, it is an odd number.

num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 5
5 is Odd

In [ ]:
# Python program to check if year is a leap year or not

year = 2000

# To get year (integer input) from the user
# year = int(input("Enter a year: "))

# divided by 100 means century year (ending with 00)
# century year divided by 400 is leap year
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))

# not divided by 100 means not a century year
# year divided by 4 is a leap year
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))

# if not divided by both 400 (century year) and 4 (not century year)
# year is not leap year
else:
    print("{0} is not a leap year".format(year))

2000 is a leap year

In [ ]:
# Python program to find the largest number among the three input numbers

# change the values of num1, num2 and num3
# for a different result
num1 = 10
num2 = 14
num3 = 12

# uncomment following lines to take three numbers from user
#num1 = float(input("Enter first number: "))
#num2 = float(input("Enter second number: "))
#num3 = float(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

The largest number is 14

In [ ]:
# Program to check if a number is prime or not
# Input from the user
num = int(input("Enter a number: "))

# If number is greater than 1
if num > 1:
   # Check if factor exist  
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           break
   else:
       print(num,"is a prime number")
       
# Else if the input number is less than or equal to 1
else:
   print(num,"is not a prime number")

Enter a number: 7
7 is a prime number

In [ ]:
# Python program to display all the prime numbers within an interval

lower = 900
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num,end=',')

Prime numbers between 900 and 1000 are:
907,911,919,929,937,941,947,953,967,971,977,983,991,997,

In [ ]:
# Python program to find the factorial of a number provided by the user.

# change the value for a different result
num = 7

# To take input from the user
#num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 7 is 5040

In [ ]:
# Python program to find the factorial of a number provided by the user
# using recursion

def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        # recursive call to the function
        return (x * factorial(x-1))


# change the value for a different result
num = 7

# to take input from the user
# num = int(input("Enter a number: "))

# call the factorial function
result = factorial(num)
print("The factorial of", num, "is", result)

The factorial of 7 is 5040

In [ ]:
# Multiplication table (from 1 to 10) in Python

num = 12

# To take input from the user
# num = int(input("Display multiplication table of? "))

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [ ]:
# Program to display the Fibonacci sequence up to n-th term

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 6
Fibonacci sequence:
0
1
1
2
3
5

In [ ]:
# Python program to print Fibonacci Series
def fibonacciSeries(i):
 if i <= 1:
  return i
 else:
  return (fibonacciSeries(i - 1) + fibonacciSeries(i - 2))

num=6 
if num <=0:
 print("Please enter a Positive Number")
else:
 print("Fibonacci Series:", end=" ")
for i in range(num):
 print(fibonacciSeries(i), end=" ")

Fibonacci Series: 0 1 1 2 3 5

In [ ]:
count = 0
while count < 10:
    count += 1
    print(count)

1
2
3
4
5
6
7
8
9
10

In [ ]:
num = int(input("Enter a number: "))
sum = 0
order = len(str(num))
print(order)

Enter a number: 153
3

In [ ]:
#Armstrong number check
num = int(input("Enter a number: "))
sum = 0
order = len(str(num))

temp = num
while temp > 0:
    digit = temp % 10
    sum += digit ** order
    temp //= 10

if num == sum:
    print(num, "is an Armstrong number")
else:
    print(num, "is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

In [ ]:
def is_armstrong(num):
    order = len(str(num))
    temp = num
    sum = 0
    
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10
    
    if num == sum:
        return True
    else:
        return False

In [ ]:
print(is_armstrong(153))

True

In [ ]:
num = 153
if is_armstrong(num):
    print(num, "is an Armstrong number")
else:
    print(num, "is not an Armstrong number")

153 is an Armstrong number

In [ ]:
# Program to check Armstrong numbers in a certain interval

lower = 100
upper = 2000

for num in range(lower, upper + 1):

   # order of number
   order = len(str(num))
    
   # initialize sum
   sum = 0

   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:
       print(num,end=" ")

153 370 371 407 1634

In [ ]:
# Sum of natural numbers up to num

num = 16

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

The sum is 136

In [ ]:
start = 30
end = 45
sum = 0

for i in range(start, end+1):
    sum += i

print("The sum of natural numbers between", start, "and", end, "is:", sum)

The sum of natural numbers between 30 and 45 is: 600

In [1]:
# Display the powers of 2 using anonymous function

terms = 10

# Uncomment code below to take input from the user
# terms = int(input("How many terms? "))

# use anonymous function
result = list(map(lambda x: 2 ** x, range(terms)))

print("The total terms are:",terms)
for i in range(terms):
   print("2 raised to power",i,"is",result[i])

The total terms are: 10
2 raised to power 0 is 1
2 raised to power 1 is 2
2 raised to power 2 is 4
2 raised to power 3 is 8
2 raised to power 4 is 16
2 raised to power 5 is 32
2 raised to power 6 is 64
2 raised to power 7 is 128
2 raised to power 8 is 256
2 raised to power 9 is 512

In [2]:
list1 = [-3, 8, -1, 6, 9, 3, -1, -7, -5, -42, 73, 65]
positive_list = []
negative_list = []

# Separate positive and negative numbers into two separate lists
for num in list1:
    if num >= 0:
        positive_list.append(num)
    else:
        negative_list.append(num)

# Combine positive and negative lists into a single list
result_list = negative_list + positive_list

print("Original list:", list1)
print("Separated negative list:", negative_list)
print("Separated positive list:", positive_list)
print("Combined list:", result_list)

Original list: [-3, 8, -1, 6, 9, 3, -1, -7, -5, -42, 73, 65]
Separated negative list: [-3, -1, -1, -7, -5, -42]
Separated positive list: [8, 6, 9, 3, 73, 65]
Combined list: [-3, -1, -1, -7, -5, -42, 8, 6, 9, 3, 73, 65]

In [3]:
my_list= [-15, -26, 15, 1, 23, -64, 23, 76]
sort_list=[]
while my_list:
  min=my_list[0]
  for i in my_list:
    if i < min:
      min=i
  sort_list.append(min)
  my_list.remove(min)
print(sort_list)

[-64, -26, -15, 1, 15, 23, 23, 76]

In [4]:
my_list= [-15, -26, 15, 1, 23, -64, 23, 76]
sort_list=[]
while my_list:
  maxx=my_list[0]
  for i in my_list:
    if i > maxx:
      maxx=i
  sort_list.append(maxx)
  my_list.remove(maxx)
print(sort_list)

[76, 23, 23, 15, 1, -15, -26, -64]

In [5]:
filename='jayalaxmimekap'
file=filename.replace('a','A')
print(file)

jAyAlAxmimekAp

In [6]:
filename='jayalaxmimekap'
index= 0
newc='J'
filename=filename[:index]+newc+filename[index+1:]
print(filename)

Jayalaxmimekap

In [10]:
num = 12
listt = [10, 3, 4, 7, 6, 6, 2]

# Create an empty set to store pairs of elements that sum to 'num'
pairs = set()

# Loop through each element in the list
for i in range(len(listt)):
    # Check if 'num' minus the current element is already in the set
    if num - listt[i] in pairs:
        # If it is, print the pair of elements that sum to 'num'
        print("Pair found:", num - listt[i], listt[i])
    else:
        # Otherwise, add the current element to the set
        pairs.add(listt[i])

Pair found: 6 6
Pair found: 10 2

In [11]:
num = 12
listt = [10, 3, 4, 7, 6, 6, 2]

# Create an empty dictionary to store the indices of each element
index_dict = {}

# Loop through each element in the list and store its index in the dictionary
for i in range(len(listt)):
    index_dict[listt[i]] = i

# Loop through each element in the list again
for i in range(len(listt)):
    # Check if 'num' minus the current element is in the dictionary
    if num - listt[i] in index_dict:
        # If it is, print the indices of the two elements that sum to 'num'
        print("Pair found at indices:", index_dict[num - listt[i]], i)

Pair found at indices: 6 0
Pair found at indices: 5 4
Pair found at indices: 5 5
Pair found at indices: 0 6

In [12]:
num = 12
listt = [10, 3, 4, 7, 6, 6, 2]

# Create an empty dictionary to store the indices of each element
index_dict = {}

# Loop through each element in the list and store its index in the dictionary
for i in range(len(listt)):
    index_dict[listt[i]] = i

# Create an empty set to store the pairs of indices that have already been printed
printed_pairs = set()

# Loop through each element in the list again
for i in range(len(listt)):
    # Check if 'num' minus the current element is in the dictionary
    if num - listt[i] in index_dict:
        # If it is, get the indices of the two elements that sum to 'num'
        index1 = index_dict[num - listt[i]]
        index2 = i
        # Check if this pair of indices has already been printed
        if (index1, index2) not in printed_pairs and (index2, index1) not in printed_pairs:
            # If it hasn't, print the pair of elements that sum to 'num' and add the pair of indices to the set
            print("Pair found at indices:", index1, index2)
            printed_pairs.add((index1, index2))

Pair found at indices: 6 0
Pair found at indices: 5 4
Pair found at indices: 5 5

In [13]:
# Take a list of numbers
my_list = [12, 65, 54, 39, 102, 339, 221,]

# use anonymous function to filter
result = list(filter(lambda x: (x % 13 == 0), my_list))

# display the result
print("Numbers divisible by 13 are",result)

Numbers divisible by 13 are [65, 39, 221]

In [14]:
# Python program to convert decimal into other number systems
dec = 344

print("The decimal value of", dec, "is:")
print(bin(dec), "in binary.")
print(oct(dec), "in octal.")
print(hex(dec), "in hexadecimal.")

The decimal value of 344 is:
0b101011000 in binary.
0o530 in octal.
0x158 in hexadecimal.

In [15]:
# Program to find the ASCII value of the given character

c = 'p'
print("The ASCII value of '" + c + "' is", ord(c))

The ASCII value of 'p' is 112

In [16]:
#Modify the code above to get characters from their corresponding ASCII values using the chr() function as shown below.
print(chr(65))

A

In [17]:
print(chr(112))

p

In [18]:
# Python program to find H.C.F of two numbers

# define a function
def compute_hcf(x, y):

# choose the smaller number
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i 
    return hcf

num1 = 54 
num2 = 24

print("The H.C.F. is", compute_hcf(num1, num2))

The H.C.F. is 6

In [19]:
# Define a function to find the LCM of two numbers
def lcm(a, b):
    # Find the GCD of the two numbers using the Euclidean algorithm
    def gcd(x, y):
        if y == 0:
            return x
        else:
            return gcd(y, x % y)
    # Calculate the LCM using the formula
    lcm = (a * b) // gcd(a, b)
    # Return the LCM
    return lcm

# Call the lcm() function with the two numbers
a = 54
b = 24
result = lcm(a, b)

# Print the result
print("The LCM of", a, "and", b, "is", result)

The LCM of 54 and 24 is 216

In [21]:
# Python Program to find the factors of a number

# This function computes the factor of the argument passed
def print_factors(x):
   print("The factors of",x,"are:")
   for i in range(1, x + 1):
       if x % i == 0:
           print(i)

num = 320

print_factors(num)

The factors of 320 are:
1
2
4
5
8
10
16
20
32
40
64
80
160
320

In [22]:
# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y


print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        try:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter a number.")
            continue

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        
        # check if user wants another calculation
        # break the while loop if answer is no
        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
          break
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 2
Enter first number: 4
Enter second number: 5
4.0 - 5.0 = -1.0
Let's do next calculation? (yes/no): yes
Enter choice(1/2/3/4): 6
Invalid Input
Enter choice(1/2/3/4): 4
Enter first number: 1
Enter second number: 2
1.0 / 2.0 = 0.5
Let's do next calculation? (yes/no): no

In [25]:
# Program to display calendar of the given month and year

# importing calendar module
import calendar

yy = 2023  # year
mm = 3   # month

# To take month and year input from the user
# yy = int(input("Enter year: "))
# mm = int(input("Enter month: "))

# display the calendar
print(calendar.month(yy, mm))

     March 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31