<a href="https://colab.research.google.com/github/Jaya9522/daily-practice/blob/main/Copy_of_python_practice_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Problem 1**

In a cricket tournament, based on the outcome of a particular match a team gets following points:

wins gets 3 points

draws gets 1 points

losses gets 0 points

Team Aravali plays 8 matches in this tournament. It wins 4 matches, loses 3 matches and draws 1. What is the total number of points gained by the Team Aravali?

In [ ]:
# The outcome variables are defined below
wins = 4
losses = 3
draws = 1
# Calculate the total points gained by Team Aravali
aravali_points = 3*wins + 0*losses + 1*draws
# Print the variable aravali_points
aravali_points

13

**Problem 2**

Root of a function  $f(x)$  is defined as the value  $x$  where  $f(x)=0$ 

Consider a quadratic function  $f(x)=x2+3x−4$ 

Find the value of the function  $f(x)$  at points  $x=2,x=−1,x=1$ .

In [ ]:
# Calculate the value of the function f(x) at x = 2
func_evaluated_at_2 = 2**2 + 3*2 - 4
# Print the value below
print(func_evaluated_at_2)

6

In [ ]:
# Calculate the value of the function f(x) at x = -1
func_evaluated_at_minus1 = (-1)**2 + 3*(-1) - 4
# Print the value below
print(func_evaluated_at_minus1)

-6

In [ ]:
# Calculate the value of the function f(x) at x = 1
func_evaluated_at_1 = 1**2 + 3*1 - 4
# Print the type of the variable below
print(func_evaluated_at_1)
type(func_evaluated_at_1)

0

int

Return the boolean for each value of  $x$  to find out whether that value is a root of  $f(x)$

In [ ]:
# Check whether 2 is a root of f(x)
func_evaluated_at_2 == 0

False

In [ ]:
# Check whether -1 is a root of f(x)
func_evaluated_at_minus1 == 0

False

In [ ]:
# Check whether 1 is a root of f(x)
func_evaluated_at_1 == 0

True

**Problem 3**

A bag contains 45 apples, 65 oranges and 30 bananas. Find the percentage of each type of food items in the bag.

In [ ]:
# Calculate the percentage of apples and print the variable
apples = 45
oranges = 65
bananas = 30

percentage_apples = apples*100/(apples+ oranges + bananas)
print(percentage_apples)

32.142857142857146

In [ ]:
# Calculate the percentage of oranges and print the variable
percentage_oranges = oranges*100/(apples+ oranges + bananas)
print(percentage_oranges)

46.42857142857143

In [ ]:
# Calculate the percentage of bananas and print the variable

percentage_bananas = bananas*100/(apples + oranges + bananas)
print(percentage_bananas)

21.428571428571427

**Problem 4**

You were playing a fun guessing game during your school break. There were a total of 100 participants excluding you. Out of these 100 people, 30 were Maths Majors, 45 were Economics Majors and 25 were Physics Majors.

The game was divided into three rounds.

* In the first round, you had to guess the number of Maths Majors and you correctly guessed 20 of them.
* In the second round, you had to guess the number of Economics Majors and you correctly guessed 30 of them.
* In the final third round, you had to guess the number of Physics Majors and you correctly guessed 20 of them.

Accuracy is defined as the number of correct guesses upon total number of people in the group (expressed in percentage)

In [ ]:
# Store the number of Maths majors
maths_majors = 30

# Store the number of Economics majors
economics_majors = 45

# Store the number of Physics majors
physics_majors = 25

# Store the number of your correct guesses of Maths majors
correctly_guessed_maths_majors = 20

# Store the number of your correct guesses of Economics majors
correctly_guessed_economics_majors = 30

# Store the number of your correct guesses of Physics majors
correctly_guessed_physics_majors = 20

Calculate your accuracy in each of the three rounds

In [ ]:
# Print the Maths accuracy

maths_accuracy = correctly_guessed_maths_majors*100/maths_majors
print(maths_accuracy)

66.66666666666667

In [ ]:
# Print the Economics accuracy

economics_accuracy = correctly_guessed_economics_majors*100/economics_majors
print(economics_accuracy)

66.66666666666667

In [ ]:
# Print the Physics accuracy
physics_accuracy = correctly_guessed_physics_majors*100/physics_majors
print(physics_accuracy)

80.0

Calculate your overall accuracy in the entire game

In [ ]:
# Print the overall accuracy
total_correct_guesses = correctly_guessed_maths_majors + correctly_guessed_physics_majors + correctly_guessed_economics_majors
total_majors = maths_majors + economics_majors + physics_majors
overall_accuracy = (total_correct_guesses)*100/(total_majors)
print(overall_accuracy)

70.0

**Problem 5**

You are given a sentence which reads "Wikipedia is a free online encyclopedia, created and edited by volunteers around the world and hosted by the Wikimedia Foundation."

Find the number of words in the given sentence.

In [1]:
# Store the given sentence in a variable
sentence = "Wikipedia is a free online encyclopedia, created and edited by volunteers around the world and hosted by the Wikimedia Foundation."
# Calculate the total number of words in the sentence.  Hint : Use the count() method
num_of_words = sentence.count(' ') + 1
# Print the variable num_of_words
num_of_words

20

**Problem 6**

Write a Python code which takes a number and returns a corresponding string of hyphens. For example if the number is 3, it will return '---' , if the number is 5 it will return '-----'

In [2]:
# Store the user input in a variable
inputted_number = int(input())
# Create a string of equivalent number of hyphens. Hint : remember what happens when we multiply string by a number?
string_of_hyphens = '-'*inputted_number
# Print the string of hyphens
print(string_of_hyphens)

8
--------

**Problem 7**

A string can be called a safe bridge if it has no gaps in it i.e, no spaces. You are supposed to take an input from the user and print whether the string is a safe bridge or not.

In [3]:
# Store the user input in a variable
bridge = input()
# Return True if the bridge is safe and False if the bridge is not safe. Hint : Use the find() method
is_safe_bridge = bridge.find(' ') == -1
# Fill in the blanks
print(f"It is {is_safe_bridge} that the bridge is a safe bridge" )

IronMan
It is True that the bridge is a safe bridge

**Problem 8**

Count the number of D's in a string inputted by the user. This will be case insensitive.

In [4]:
# Store the user input in a variable
user_string = 'Debris was scattered all over the place in the densest region of Denmark'
# Store the count of letter D in the inputted string. Note this will be a case insensitive search
D_counts = user_string.upper().count('D')
# Fill in the blanks
print(f"The total occurrence of D in the user_string is {D_counts}")

The total occurrence of D in the user_string is 4

**Problem 9**

Check whether a given string is a palindrome. A palindrome is a word, number, phrase, or other sequence of characters which reads the same backward as forward, such as madam, racecar.

In [5]:
# Store the user input in a variable
user_string = input()
# Return True if a string is a Palindrome else return false
user_string == user_string[::-1]

Variable

False

**Problem 10**

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [6]:
# A list containing average daily temperature over a week 
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output 
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

# Store the highest temperature
max_temp = max(temperatures)

# Index of the element with the highest temperature
max_temp_index = temperatures.index(max_temp)

# Store the lowest temperature 
min_temp = min(temperatures)

# Index of the element with the lowest temperature
min_temp_index = temperatures.index(min_temp)

# Swap the highest and the lowest temperatures
temperatures[max_temp_index] = min_temp
temperatures[min_temp_index] = max_temp

# Print the output list
print(temperatures)

[34, 40, 42, 33, 29, 37, 39]

**Problem 11**

Measures of Averages

* Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
* Median is the middle number in a <b>sorted</b>, ascending or descending, list of numbers. If the list has $N$ numbers where $N$ is odd, then median is the element in the middle i.e, $(\frac{N+1}{2})^{th}$ element. If $N$ is even, then median is the mean of $(\frac{N}{2})^{th}$ and $(\frac{N}{2}+1)^{th}$ element

In [7]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

# Calculate the mean of the product prices 
mean_price = sum(prod_price_list)/len(prod_price_list)
print(mean_price)

1975.0

In [8]:
#Calculate the median price
# Step 1 - Obtain the sorted list
sorted_prices = sorted(prod_price_list)
print(sorted_prices)

[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]

In [9]:
# Check if the number of elements in the list is even or odd
len(sorted_prices)

10

In [10]:
# Use the corresponding formula to calculate the median and print the median
list_length = len(sorted_prices)
median_price = (sorted_prices[int(list_length/2)-1] + sorted_prices[int(list_length/2)])/2
print(median_price)

575.0

In [11]:
# Check which is greater, mean or median
mean_price > median_price

True

**Problem 12**

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [12]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

# Write your code below
last_element = tech_companies[-1]
correct_tech_companies = tech_companies[:-1] + last_element
print(correct_tech_companies)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

In [13]:
# Do the same task another way
tech_companies.remove(last_element)
tech_companies.extend(last_element)
print(tech_companies)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']