<a href="https://colab.research.google.com/github/Jaya9522/daily-practice/blob/main/Copy_of_python_important_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question-1

Write a python code to find the prome numbers between 40 t0 80 ?

In [ ]:
start=40
end=80
for i in range(start,end+1):
    for j in range(2,i):
        if(i%j)==0:
            break
    else:
        print(i,end=",")

41,43,47,53,59,61,67,71,73,79,

Question-2

Python program to check if year is a leap year or not ?

In [ ]:
year=2013
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

2013 is not a leap year

Question-3

Python Program to check if a number is prime or not

In [ ]:
num=int(input())
if num>1:
    for i in range(2,num):
        if(num%i)==0:
            print(num,"is not a prime number.")
            break
    else:
        print(num,"is a prime number")
else:
    print("please enter a valid number which is any number greater than 1.")

1
please enter a valid number which is any number greater than 1.

Question-4

Python program to find the factorial of a number provided by the user ?

In [ ]:
num=int(input())
factorial=1
if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")   
else:
    for i in range(1,num+1):
       factorial=factorial*i
    print("The factorial of",num,"is",factorial)

5
The factorial of 5 is 120

Question-5

Program to display the Fibonacci sequence up to n-th term ?

In [93]:
nterm=int(input())
n1,n2=0,1
count=0
if nterm <= 0:
   print("Please enter a positive integer")
elif nterm == 1:
   print("Fibonacci sequence upto",nterm,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterm:
       print(n1,end=' ')
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

10
Fibonacci sequence:
0 1 1 2 3 5 8 13 21 34

Question-6

Program to check Armstrong numbers in a certain interval

In [ ]:
lower = 100
upper = 2000

for num in range(lower, upper + 1):

   # order of number
   order = len(str(num))
    
   # initialize sum
   sum = 0

   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:
       print(num,end=",")

153,370,371,407,1634,

Question-7

Python code to separate positive and negative number in a list

In [ ]:
list1 = [-3, 8, -1, 6, 9, 3, -1, -7, -5, -42, 73, 65]
positive_list = []
negative_list = []

# Separate positive and negative numbers into two separate lists
for num in list1:
    if num >= 0:
        positive_list.append(num)
    else:
        negative_list.append(num)

# Combine positive and negative lists into a single list
result_list = negative_list + positive_list
print("Combined list:", result_list)

Combined list: [-3, -1, -1, -7, -5, -42, 8, 6, 9, 3, 73, 65]

Question-8

Python code to replace nth(8th) character in a string without using replace method

In [ ]:
string="Almabetter"
index=7
new_char="T"
string=string[:index]+new_char+string[index+1:]
print(string)

AlmabetTer

Question-9

Python code to find the pair value that will give num when adding together

In [ ]:
num = 12
listt = [10, 3, 4, 7, 6, 6, 2]

# Create an empty set to store pairs of elements that sum to 'num'
pairs = set()

# Loop through each element in the list
for i in range(len(listt)):
    # Check if 'num' minus the current element is already in the set
    if num - listt[i] in pairs:
        # If it is, print the pair of elements that sum to 'num'
        print("Pair found:", num - listt[i], listt[i])
    else:
        # Otherwise, add the current element to the set
        pairs.add(listt[i])

Pair found: 6 6
Pair found: 10 2

Question-10

Python program to find H.C.F of two numbers

In [ ]:
def compute_hcf(x, y):

# choose the smaller number
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i 
    return hcf

num1 = 54 
num2 = 24

print("The H.C.F. is", compute_hcf(num1, num2))

The H.C.F. is 6

In [ ]:
lcm=(num1*num2)//compute_hcf(num1,num2)
print(lcm)

216

Question-11

Python Program to count the number of each vowels

In [ ]:
vowels = 'aeiou'

ip_str = 'Hello, have you tried our tutorial section yet?'

# make it suitable for caseless comparisions
ip_str = ip_str.casefold()


# make a dictionary with each vowel a key and value 0
count = {}.fromkeys(vowels,0)

# count the vowels
for char in ip_str:
   if char in count:
       count[char] += 1

print(count)

{'a': 2, 'e': 5, 'i': 3, 'o': 5, 'u': 3}

Question-12

Write a Python program to add a key to a dictionary.

In [ ]:
dict1={'name': 'xyz', 'age': 27, 'salary': 50000}
dict2={'manager': 'abc'}
dict1['manager']='abc'
print(dict1)

{'name': 'xyz', 'age': 27, 'salary': 50000, 'manager': 'abc'}

Question-13

Write a Python program to add an item in a tuple.

In [ ]:
Input=('a','b','c','d') 
add=7
Input=Input+(add,)
print(Input)

('a', 'b', 'c', 'd', 7)

Question-14

Write a Python program to round every number of a given list of numbers and print the total sum multiplied by the length of the list.

In [ ]:
listt=[22.4, 4.0, -16.22, -9.10, 11.00, -12.22, 14.20, -5.20, 17.50]
round_list=[round(num) for num in listt]
length=len(round_list)
sum=0
for i in round_list:
    sum=sum+i
print(sum*length)

243

Question-15

Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '$', except the first char itself.

In [ ]:
s="python programming"
fir_s=s[0]
re_c="@"
new_s=fir_s+s[1:].replace(fir_s,re_c)
print(new_s)

python @rogramming

Question-16

Write a Python function to check whether a number is perfect or not.

In [ ]:
num=6
sum=0
for i in range(1,num):
    if num % i ==0:
        sum=sum+i
if sum == num:
    print(num,'is a perfect number')
else:
    print("false")

6 is a perfect number

Question-17

Write a Python program that accepts a string and calculate the number of digits and letters.

In [ ]:
sti=input()
digit=alphabet=0
for i in sti:
    if i.isdigit():
      digit=digit+1
    elif i.isalpha():
      alphabet=alphabet+1
    else:
      pass
print("Letters",alphabet,'Digits',digit)

program@2022
Letters 7 Digits 4

Question-18

Write a Python program to move spaces to the front of a given string.

In [ ]:
j= "w3resource . com "
o=[i for i in j if i !=' ']
l=len(j)-len(o)
r=' '*l
re='"'+r+''.join(o)+'"'
print(re)

"   w3resource.com"

Question-19

Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [ ]:
for i in range(5):
    if i % 3 ==0 and i % 5 ==0:
        print('fizzbuzz',end=' ')
        continue
    elif i % 3 ==0:
        print('fizz',end=' ')
        continue
    elif i % 5 ==0:
        print('buzz',end=' ')
        continue 
    print(i,end=' ')

fizzbuzz 1 2 fizz 4

Question-20

python code to fond the median of a list

In [ ]:
l=[24,44,57,69,78,90,23,45,67,65]
l.sort()
n=len(l)
if n % 2 == 0:
     median = (l[n//2] + l[n//2-1])/2
else:
     median = l[n//2]
print(median)

61.0

Question-21

python programm to find the longest word in a string

In [ ]:
f="king queen knight"
d=f.split(' ')
l=0
w=""
for i in d:
    if len(i) > l:
        l=len(i)
        w=i
r=(l,i)
print(r)

(6, 'knight')

Question-22

Write a Python program to find the first non-repeating character in given string.

In [28]:
string = "abcdaef"

# create a dictionary to store character counts
char_counts = {}

# loop through each character in the string and count its occurrences
for char in string:
    if char in char_counts:
        char_counts[char] += 1
    else:
        char_counts[char] = 1

# loop through the string again to find the first non-repeating character
for char in string:
    if char_counts[char] == 1:
        print(char)
        break
else:
    print("None")

b

Question-23

Write a Python program to construct the following pattern, using a nested for loop.

In [35]:
n=5
# print upper half of the pattern
for i in range(1, n+1):
    for j in range(1, i+1):
        if j == i:
            print("*.", end="")
        else:
            print("*.", end="")
    print()
# print lower half of the pattern
for i in range(n-1, 0, -1):
    for j in range(1, i+1):
        if j == i:
            print("*.", end="")
        else:
            print("*.", end="")
    print()

*.
*.*.
*.*.*.
*.*.*.*.
*.*.*.*.*.
*.*.*.*.
*.*.*.
*.*.
*.

Question-24

Write a Python program to find the second most repeated word in a given string.

Input:
string= Both of these issues are fixed by postponing the evaluation of annotations. Instead of compiling code which executes expressions in annotations at their definition time, the compiler stores the annotation in a string form equivalent to the AST of the expression in question. If needed, annotations can be resolved at runtime using typing.get_type_hints(). In the common case where this is not required, the annotations are cheaper to store (since short strings are interned by the interpreter) and make startup time faster.

In [43]:
string= 'Both of these issues are fixed by postponing the evaluation of annotations. Instead of compiling code which executes expressions in annotations at their definition time, the compiler stores the annotation in a string form equivalent to the AST of the expression in question. If needed, annotations can be resolved at runtime using typing.get_type_hints(). In the common case where this is not required, the annotations are cheaper to store (since short strings are interned by the interpreter) and make startup time faster.'

In [50]:
from collections import Counter
words = string.split()
word_count = Counter(words)
most_common = word_count.most_common(2)
if len(most_common) == 1:
    print("There is only one word in the string.")
else:
    if most_common[0][1] == most_common[1][1]:
        print("There is no second most repeated word.")
    else:
        second_most_common = most_common[1]
        print("('{}', {})".format(second_most_common[0], second_most_common[1]))

('of', 4)

In [54]:
lst= ['red', 'black', 'pink', 'green', 'black', 'green']
l=set(lst)
l=list(sorted(l))
l

['black', 'green', 'pink', 'red']

In [70]:
b=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
bb=sorted(b,key=lambda x: x[-1])
bb

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [71]:
inp = "AI is going to rule the world aeiou"
cha= "aeiou"
h=''
for i in inp:
    if i not in cha:
        h=h+i
print(h)

AI s gng t rl th wrld

In [77]:
j={'john': 170, 'kem':172, 'sam': 168, 'milli': 158}
jj=sum(j.values())
print(jj)

668

In [79]:
s1= 'abc'
s2='xyz'
st3=s2[:-1]+s1[-1]+" "+s1[:-1]+s2[-1]
st3

'xyc abz'

In [81]:
h='The quick Brown Fox'
u=0
l=0
for i in h:
    if i.isupper():
        u=u+1
    elif i.islower():
        l=l+1
    else:
        pass
print(u)
print(l)

3
13

In [85]:
x=2
y=7
if x==y or x+y==5 or abs(x-y)==5:
    print('true')
else:
    print('false')

true

In [94]:
n=9
c,d=0,1
e=0
while e < n:
    print(c)
    nn=c+d
    c=d
    d=nn
    e=e+1

0
1
1
2
3
5
8
13
21

In [104]:
k='AlmaBetter@datascience'
u=0
l=0
s=0
n=0
for i in k:
    if str(i).islower():
        l=l+1
    elif str(i).isupper():
        u=u+1
    elif str(i).isdigit():
        n=n+1
    else:
        s=s+1
print(f'({u},{l},{s},{n},)')

(2,19,1,0,)

In [109]:
g=input()
k=input()
if g.isdigit() and k.isdigit():
    sum=int(g)+int(k)
    print(sum)
else:
    print('ern')

10
20
30

In [110]:
l=(1, 2), (2, 3), (3, 4)
ll=[list(i) for i in l]
print(ll)

[[1, 2], [2, 3], [3, 4]]

In [118]:
num=int(input())
if num>1:
    for i in range(2,num):
        if(num%i)==0:
            print(num,"is not a prime number.")
            break
    else:
        print(num,"is a prime number")
else:
    print("please enter a valid number which is any number greater than 1.")

10
10 is not a prime number.

In [122]:
num1=2
num2=10
c=[]
for num in range(num1,num2):
    for i in range(2,num):
       if num % i == 0:
        break 
    else:
        c.append(num)
print(len(c))

4

In [127]:
l="112344565"
s=[]
m=[]
d={}
for i in l:
    d[i]=d.get(i,0)+1
for i in d:
    if d[i]==1:
        s.append(i)
    else:
        m.append(i)
print(s,m)

['2', '3', '6'] ['1', '4', '5']

In [132]:
b="apple"
r=[]
for i in b:
    if not r or i != r[-1]:
        r.append(i)
print(''.join(r))

aple

In [134]:
Input= {'name': 'xyz', 'age': 27, 'salary': 50000, 'manager': 'xyz'}
n={}
for k,v in Input.items():
    if v not in n.values():
        n[k]=v
print(n)

{'name': 'xyz', 'age': 27, 'salary': 50000}

In [2]:
m="Python"
s='P'
if m[0]==s[0]:
    print(True)
else:
    print(False)

True

In [13]:
n=330
i=2
lpf=1
while i <= n/i:
    if n % i ==0:
        n//=i
        lpf=i
    else:
        i +=1   
if n > 1 and n > lpf:
    lpf=n
print(lpf)

11

In [15]:
n=['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']
s='a'
k=[]
for i in n:
    if i[0]==s:
        k.append(i)
print(k)

['abcd', 'abc', 'acjd']

In [20]:
h=[-12, -6, 300, -40, 2, 2, 3, 57, -50, -22, 12, 40, 9, 11, 18]
h=sorted(h)
p=[i for i in h if i >0]
n=[i for i in h if i <0]
print('[',max(n),min(p),']')

[ -6 2 ]

In [25]:
l1 = ["Red", "Green", "Orange", "White"]
l2 = ["Black", "Green", "White", "Pink"]
print(set(l1) & set(l2))

{'Green', 'White'}

In [26]:
l1=["Red", "Green", "Orange", "White"]

l2=["Black", "Green", "White", "Pink"]
print(set(l1) & set(l2))

{'Green', 'White'}

In [28]:
x= [(4, 1), (1, 2), (6, 0)]
x.sort(key=lambda t:t[-1])  
s=x[0] 
print(s)

(6, 0)

In [33]:
g="Thequickbrownfoxjumpsoverthelazydog"
g=g.lower()
gg='abcdefghijklmnopqrstuvwxyz'
for i in g:
    if i in gg:
        print(True)
        break
    else:
        print(False)

True

In [38]:
c="Hello World"
c=c.split(' ')
for i in c:
    d=c[1]+" "+c[0]
d

'World Hello'

In [46]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

def next_prime(n):
    next_num = n + 1
    while not is_prime(next_num):
        next_num += 1
    return next_num

# example usage
n = 48
next_prime_num = next_prime(n)
print(f"The next prime number of {n} is: {next_prime_num}")

The next prime number of 48 is: 53

In [47]:
def isprime(num):
   for i in range(2,num):
      if num % i == 0:
        return False
   return True 
def nprime(num):
    n_p=num+1
    while not isprime(n_p):
        n_p=n_p+1
    return n_p
num =48
print(nprime(num))

53

In [54]:
lst=[1, 0, 3, 2, 5, 4]
for i in range(0, len(lst)-1, 2):
        lst[i], lst[i+1] = lst[i+1], lst[i]
print(lst)

[0, 1, 2, 3, 4, 5]

In [57]:
n=81
a=3
x=0
while n % a ==0:
    x=x+1
    n//=a
if n == 1:
    print(x)
else:
    print(-1)

4

In [58]:
b=[1, 2, -8, 0]
max(b)

2