<a href="https://colab.research.google.com/github/Jaya9522/daily-practice/blob/main/Copy_of_python_practice_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Problem 1**

In a cricket tournament, based on the outcome of a particular match a team gets following points:

wins gets 3 points

draws gets 1 points

losses gets 0 points

Team Aravali plays 8 matches in this tournament. It wins 4 matches, loses 3 matches and draws 1. What is the total number of points gained by the Team Aravali?

In [ ]:
# The outcome variables are defined below
wins = 4
losses = 3
draws = 1
# Calculate the total points gained by Team Aravali
aravali_points = 3*wins + 0*losses + 1*draws
# Print the variable aravali_points
aravali_points

13

**Problem 2**

Root of a function  $f(x)$  is defined as the value  $x$  where  $f(x)=0$ 

Consider a quadratic function  $f(x)=x2+3x−4$ 

Find the value of the function  $f(x)$  at points  $x=2,x=−1,x=1$ .

In [ ]:
# Calculate the value of the function f(x) at x = 2
func_evaluated_at_2 = 2**2 + 3*2 - 4
# Print the value below
print(func_evaluated_at_2)

6

In [ ]:
# Calculate the value of the function f(x) at x = -1
func_evaluated_at_minus1 = (-1)**2 + 3*(-1) - 4
# Print the value below
print(func_evaluated_at_minus1)

-6

In [ ]:
# Calculate the value of the function f(x) at x = 1
func_evaluated_at_1 = 1**2 + 3*1 - 4
# Print the type of the variable below
print(func_evaluated_at_1)
type(func_evaluated_at_1)

0

int

Return the boolean for each value of  $x$  to find out whether that value is a root of  $f(x)$

In [ ]:
# Check whether 2 is a root of f(x)
func_evaluated_at_2 == 0

False

In [ ]:
# Check whether -1 is a root of f(x)
func_evaluated_at_minus1 == 0

False

In [ ]:
# Check whether 1 is a root of f(x)
func_evaluated_at_1 == 0

True

**Problem 3**

A bag contains 45 apples, 65 oranges and 30 bananas. Find the percentage of each type of food items in the bag.

In [ ]:
# Calculate the percentage of apples and print the variable
apples = 45
oranges = 65
bananas = 30

percentage_apples = apples*100/(apples+ oranges + bananas)
print(percentage_apples)

32.142857142857146

In [ ]:
# Calculate the percentage of oranges and print the variable
percentage_oranges = oranges*100/(apples+ oranges + bananas)
print(percentage_oranges)

46.42857142857143

In [ ]:
# Calculate the percentage of bananas and print the variable

percentage_bananas = bananas*100/(apples + oranges + bananas)
print(percentage_bananas)

21.428571428571427

**Problem 4**

You were playing a fun guessing game during your school break. There were a total of 100 participants excluding you. Out of these 100 people, 30 were Maths Majors, 45 were Economics Majors and 25 were Physics Majors.

The game was divided into three rounds.

* In the first round, you had to guess the number of Maths Majors and you correctly guessed 20 of them.
* In the second round, you had to guess the number of Economics Majors and you correctly guessed 30 of them.
* In the final third round, you had to guess the number of Physics Majors and you correctly guessed 20 of them.

Accuracy is defined as the number of correct guesses upon total number of people in the group (expressed in percentage)

In [ ]:
# Store the number of Maths majors
maths_majors = 30

# Store the number of Economics majors
economics_majors = 45

# Store the number of Physics majors
physics_majors = 25

# Store the number of your correct guesses of Maths majors
correctly_guessed_maths_majors = 20

# Store the number of your correct guesses of Economics majors
correctly_guessed_economics_majors = 30

# Store the number of your correct guesses of Physics majors
correctly_guessed_physics_majors = 20

Calculate your accuracy in each of the three rounds

In [ ]:
# Print the Maths accuracy

maths_accuracy = correctly_guessed_maths_majors*100/maths_majors
print(maths_accuracy)

66.66666666666667

In [ ]:
# Print the Economics accuracy

economics_accuracy = correctly_guessed_economics_majors*100/economics_majors
print(economics_accuracy)

66.66666666666667

In [ ]:
# Print the Physics accuracy
physics_accuracy = correctly_guessed_physics_majors*100/physics_majors
print(physics_accuracy)

80.0

Calculate your overall accuracy in the entire game

In [ ]:
# Print the overall accuracy
total_correct_guesses = correctly_guessed_maths_majors + correctly_guessed_physics_majors + correctly_guessed_economics_majors
total_majors = maths_majors + economics_majors + physics_majors
overall_accuracy = (total_correct_guesses)*100/(total_majors)
print(overall_accuracy)

70.0

**Problem 5**

You are given a sentence which reads "Wikipedia is a free online encyclopedia, created and edited by volunteers around the world and hosted by the Wikimedia Foundation."

Find the number of words in the given sentence.

In [1]:
# Store the given sentence in a variable
sentence = "Wikipedia is a free online encyclopedia, created and edited by volunteers around the world and hosted by the Wikimedia Foundation."
# Calculate the total number of words in the sentence.  Hint : Use the count() method
num_of_words = sentence.count(' ') + 1
# Print the variable num_of_words
num_of_words

20

**Problem 6**

Write a Python code which takes a number and returns a corresponding string of hyphens. For example if the number is 3, it will return '---' , if the number is 5 it will return '-----'

In [2]:
# Store the user input in a variable
inputted_number = int(input())
# Create a string of equivalent number of hyphens. Hint : remember what happens when we multiply string by a number?
string_of_hyphens = '-'*inputted_number
# Print the string of hyphens
print(string_of_hyphens)

8
--------

**Problem 7**

A string can be called a safe bridge if it has no gaps in it i.e, no spaces. You are supposed to take an input from the user and print whether the string is a safe bridge or not.

In [3]:
# Store the user input in a variable
bridge = input()
# Return True if the bridge is safe and False if the bridge is not safe. Hint : Use the find() method
is_safe_bridge = bridge.find(' ') == -1
# Fill in the blanks
print(f"It is {is_safe_bridge} that the bridge is a safe bridge" )

IronMan
It is True that the bridge is a safe bridge

**Problem 8**

Count the number of D's in a string inputted by the user. This will be case insensitive.

In [4]:
# Store the user input in a variable
user_string = 'Debris was scattered all over the place in the densest region of Denmark'
# Store the count of letter D in the inputted string. Note this will be a case insensitive search
D_counts = user_string.upper().count('D')
# Fill in the blanks
print(f"The total occurrence of D in the user_string is {D_counts}")

The total occurrence of D in the user_string is 4

**Problem 9**

Check whether a given string is a palindrome. A palindrome is a word, number, phrase, or other sequence of characters which reads the same backward as forward, such as madam, racecar.

In [5]:
# Store the user input in a variable
user_string = input()
# Return True if a string is a Palindrome else return false
user_string == user_string[::-1]

Variable

False

**Problem 10**

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [6]:
# A list containing average daily temperature over a week 
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output 
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

# Store the highest temperature
max_temp = max(temperatures)

# Index of the element with the highest temperature
max_temp_index = temperatures.index(max_temp)

# Store the lowest temperature 
min_temp = min(temperatures)

# Index of the element with the lowest temperature
min_temp_index = temperatures.index(min_temp)

# Swap the highest and the lowest temperatures
temperatures[max_temp_index] = min_temp
temperatures[min_temp_index] = max_temp

# Print the output list
print(temperatures)

[34, 40, 42, 33, 29, 37, 39]

**Problem 11**

Measures of Averages

* Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
* Median is the middle number in a <b>sorted</b>, ascending or descending, list of numbers. If the list has $N$ numbers where $N$ is odd, then median is the element in the middle i.e, $(\frac{N+1}{2})^{th}$ element. If $N$ is even, then median is the mean of $(\frac{N}{2})^{th}$ and $(\frac{N}{2}+1)^{th}$ element

In [7]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

# Calculate the mean of the product prices 
mean_price = sum(prod_price_list)/len(prod_price_list)
print(mean_price)

1975.0

In [8]:
#Calculate the median price
# Step 1 - Obtain the sorted list
sorted_prices = sorted(prod_price_list)
print(sorted_prices)

[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]

In [9]:
# Check if the number of elements in the list is even or odd
len(sorted_prices)

10

In [10]:
# Use the corresponding formula to calculate the median and print the median
list_length = len(sorted_prices)
median_price = (sorted_prices[int(list_length/2)-1] + sorted_prices[int(list_length/2)])/2
print(median_price)

575.0

In [11]:
# Check which is greater, mean or median
mean_price > median_price

True

**Problem 12**

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [12]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

# Write your code below
last_element = tech_companies[-1]
correct_tech_companies = tech_companies[:-1] + last_element
print(correct_tech_companies)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

In [13]:
# Do the same task another way
tech_companies.remove(last_element)
tech_companies.extend(last_element)
print(tech_companies)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

**Problem 13**

Another measure of average

Mode is defined as the value that appears most often in a set of data values. Mode corresponds to the most frequent value.
You are given a list of numbers and you need to calculate the mode of this list

In [14]:
# A list containing average daily temperature over 10 days
temperatures = [34, 40, 29, 33, 42, 40, 39, 34, 34,33 ]

# Step 1 : Find the unique set of values. Store this in a list
unique_temperatures = list(set(temperatures))

# Print the unique temperature list
print(unique_temperatures)

[33, 34, 39, 40, 42, 29]

In [15]:
# Step 2 : Create an empty dictionary which will contain the unique temperatures as keys and their counts as values
temp_dict = {}

# Set the values for each key separately
# First key
first_key = unique_temperatures[0]
temp_dict[first_key] = temperatures.count(first_key)

# Second key
second_key = unique_temperatures[1]
temp_dict[second_key] = temperatures.count(second_key)

# Third key
third_key = unique_temperatures[2]
temp_dict[third_key] = temperatures.count(third_key)

# Fourth key
fourth_key = unique_temperatures[3]
temp_dict[fourth_key] = temperatures.count(fourth_key)

# Fifth key
fifth_key = unique_temperatures[4]
temp_dict[fifth_key] = temperatures.count(fifth_key)

# Sixth key
sixth_key = unique_temperatures[5]
temp_dict[sixth_key] = temperatures.count(sixth_key)

In [16]:
print(temp_dict)

{33: 2, 34: 3, 39: 1, 40: 2, 42: 1, 29: 1}

In [17]:
# Step 3: Store the dictionary values in a list
temp_dict_frequencies = list(temp_dict.values())

# Find the index of the most frequent temperature value
most_frequent_temp_index = temp_dict_frequencies.index(max(temp_dict_frequencies))

temp_dict_frequencies

[2, 3, 1, 2, 1, 1]

In [18]:
# Step 4 : Create the list of dictionary keys
temp_dict_keys = list(temp_dict.keys())

# Calculate the mode temperature
mode_temp = temp_dict_keys[most_frequent_temp_index]

print(mode_temp)

34

**Problem 14**

Challenging the immutability of tuples

You are given a list of tuples. You need to replace the last element of the last tuple

In [19]:
# Input list of tuples

list_of_tuples = [(10,20,30),(30,40,50),(50,60,70)]


# Expected output : Replace the last element 70 with 100
# output_list = [(10,20,30),(30,40,50),(50,60,100)]

# Your code here 
last_element = list_of_tuples[-1][:-1] + (100,)
output_list = list_of_tuples[:-1]
output_list.append(last_element)
print(output_list)

[(10, 20, 30), (30, 40, 50), (50, 60, 100)]

**Problem 15**

Natural Language Processing or NLP is one of the most promising fields in Machine Learning. Most of the times in NLP we deal with the textual data (a bunch of strings). Sometimes when we are processing the text, it is a common practice to get rid of some set of stop words from our original text. By default stop words are very common words used in English language such as and, or, punctuations etc.

In this exercise, you are provided with a default set of stop words and you need to add some extra set of custom words.

In [20]:
# A sample sentence 

sentence = 'Hello, good morning folks! Today we will announce the half yearly performance results of the company. Due to the ongoing COVID-19 pandemic, our profits have declined by 60% as compared to the last year'

# Print your sentence
print(sentence)

Hello, good morning folks! Today we will announce the half yearly performance results of the company. Due to the ongoing COVID-19 pandemic, our profits have declined by 60% as compared to the last year

In [21]:
# Default set of stop words 
stop_words = {"i", "me", "my", "myself", "we", "our", "ours", "ourselves", "you", "your", "yours", "yourself", 
              "yourselves", "he", "him", "his", "himself", "she", "her", "hers", "herself", "it", "its", "itself",
              "they", "them", "their", "theirs", "themselves", "what", "which", "who", "whom", "this", "that",
              "these", "those", "am", "is", "are", "was", "were", "be", "been", "being", "have", "has", "had",
              "having", "do", "does", "did", "doing", "a", "an", "the", "and", "but", "if", "or", "because",
              "as", "until", "while", "of", "at", "by", "for", "with", "about", "against", "between", "into",
              "through", "during", "before", "after", "above", "below", "to", "from", "up", "down", "in", "out", 
              "on", "off", "over", "under", "again", "further", "then", "once", "here", "there", "when", "where",
              "why", "how", "all", "any", "both", "each", "few", "more", "most", "other", "some", "such", "no",
              "nor", "not", "only", "own", "same", "so", "than", "too", "very", "s", "t", "can", "will", "just",
              "don", "should", "now"}

In [22]:
# Update the set of stop words by adding the custom stop words
custom_stop_words = ["hello","good","morning","half","yearly"]

# Your code here
stop_words.update(custom_stop_words)

# Print the stop words in a sorted manner
print(stop_words)

{'our', 'did', 'ours', 'been', 'will', 'then', 'as', 'few', 'no', 'should', 'after', 'over', 'having', 'itself', 'the', 'through', 'very', 'good', 'does', 'too', 'hers', 'if', 'who', 'this', 'yourself', 'it', 'ourselves', 'from', 'by', 'now', 'do', 'them', 'of', 'for', 'morning', 't', 'she', 'or', 'are', 'can', 'don', 'about', 'doing', 'i', 'some', 'had', 'only', 'to', 'off', 'yours', 'being', 'on', 'am', 'because', 'against', 'most', 'but', 'which', 'those', 'same', 'were', 'is', 'such', 'we', 'and', 'so', 'with', 'in', 'these', 'each', 'they', 'until', 'his', 'before', 'hello', 'further', 'own', 'here', 'once', 'out', 'not', 'again', 'has', 'more', 'that', 'himself', 'above', 'half', 'all', 'during', 'into', 'you', 'was', 'he', 'how', 'just', 'yearly', 'themselves', 'theirs', 'your', 'her', 'at', 'a', 'be', 'under', 'where', 'why', 'its', 'have', 'below', 'herself', 'their', 'than', 's', 'myself', 'whom', 'between', 'yourselves', 'him', 'up', 'an', 'my', 'both', 'when', 'other', 'nor', 'what', 'there', 'down', 'while', 'me', 'any'}

In [23]:
# # Do the same task another way. Keep in mind to use the original set of stop_words for this piece of code
custom_stop_words = ["hello","good","morning","half","yearly"]
custom_stop_words_set = set(custom_stop_words)
print(custom_stop_words_set)

{'half', 'good', 'morning', 'hello', 'yearly'}

In [24]:
stop_words = stop_words.union(custom_stop_words_set)

print(sorted(stop_words))

['a', 'about', 'above', 'after', 'again', 'against', 'all', 'am', 'an', 'and', 'any', 'are', 'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can', 'did', 'do', 'does', 'doing', 'don', 'down', 'during', 'each', 'few', 'for', 'from', 'further', 'good', 'had', 'half', 'has', 'have', 'having', 'he', 'hello', 'her', 'here', 'hers', 'herself', 'him', 'himself', 'his', 'how', 'i', 'if', 'in', 'into', 'is', 'it', 'its', 'itself', 'just', 'me', 'more', 'morning', 'most', 'my', 'myself', 'no', 'nor', 'not', 'now', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves', 'out', 'over', 'own', 's', 'same', 'she', 'should', 'so', 'some', 'such', 't', 'than', 'that', 'the', 'their', 'theirs', 'them', 'themselves', 'then', 'there', 'these', 'they', 'this', 'those', 'through', 'to', 'too', 'under', 'until', 'up', 'very', 'was', 'we', 'were', 'what', 'when', 'where', 'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'yearly', 'you', 'your', 'yours', 'yourself', 'yourselves']

**Problem 16**

Write a Python script to check whether a given key already exists in a dictionary. If it does, drop that key from the dictionary. If it does not, add that key and corresponding value to the dictionary

In [25]:
# Your dictionary
employee_dict = {'Name':'Sanket','Skills':['Python','Machine Learning','Deep Learning'],'Band':6.0,
                 'Promotion Year':[2016,2018,2020]}

# Check if the key 'Employee_ID' is present in the dictionary. 
key_present = 'Employee_ID' in list(employee_dict.keys())

key_present

False

In [26]:
# If not present add this key to this dictionary and the corresponding value to be 4503233
employee_dict['Employee_ID'] = 45032433

print(employee_dict)

{'Name': 'Sanket', 'Skills': ['Python', 'Machine Learning', 'Deep Learning'], 'Band': 6.0, 'Promotion Year': [2016, 2018, 2020], 'Employee_ID': 45032433}

In [27]:
# Check if the key 'Band' is present in the dictionary.
key_present = 'Band' in list(employee_dict.keys())

key_present

True

In [28]:
# If present, drop this key from the dictionary
employee_dict.pop('Band')

6.0

In [29]:
employee_dict

{'Name': 'Sanket',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning'],
 'Promotion Year': [2016, 2018, 2020],
 'Employee_ID': 45032433}

**Problem 17**

As an analyst, you had to present the quarterly performance results of your client. The data which you were provided was on daily basis. To complete this task, you needed to extract the quarter from a given date. For example:
if the date lies between 1st Jan, 2020 - 31st March, 2020, you need to extract the corresponding quarter as '2020-Q1'

* if the date lies between 1st April, 2020 - 30th June, 2020, the extracted quarter will be '2020-Q2'

* if the date lies between 1st July, 2020 - 30th September, 2020, the extracted quarter will be '2020-Q3'

* if the date lies between 1st October, 2020 - 31st Decemeber, 2020 then the extracted quarter will be '2020-Q4'

In [30]:
# Take a proper date input from the user in the format YYYY-MM-DD. Consider this date as a string
user_date = input()

# Write your code using if else statements to extract the quarter
date_year = user_date[:4]
date_month = user_date[5:7]

# Store the quarter value in a string variable named quarter

if (date_month >= '01') & (date_month <='03'):
    quarter = date_year + '-Q1'
elif (date_month >= '04') & (date_month <='06'):
    quarter = date_year + '-Q2'
elif (date_month >= '07') & (date_month <='09'):
    quarter = date_year + '-Q3'
else:
    quarter = date_year + '-Q4'

# Print the extracted quarter
print(quarter)

2020-05-12
2020-Q2

**Problem 18**

You went out in your local neighbourhood to collect the data of people residing in the locale. You surveyed 5 people and collected some data and stored that in a dictionary. You recorded their names, their age, their sex, their heights(in cms) and their weights(in kgs)

In [31]:
# Surveyed data 

locality_data = {'Name' : ['Abhinav','Sohail','Dheeraj','Rashmi','Vaishali'],
                  'Age' : [42,29,35,28,32],
                  'Sex' : ['Male', 'Male','Male','Female','Female'] , 
                  'Height' : [172,175,170,168,170],
                  'Weight' : [70,82,60,55,64]
                 }

* Find the mean and median heights and weights of the people in your locality

In [32]:
# Calculate the mean height and print it
heights = locality_data['Height']
# Calculate the mean of the heights
mean_height = sum(heights)/len(heights)
print(mean_height)

171.0

In [33]:
# Calculate the median height and print it
sorted_heights = sorted(heights)
median_height = sorted_heights[int((len(sorted_heights)+1)/2) - 1]
print(median_height)

170

In [34]:
# Calculate the mean weight and print it
weights = locality_data['Weight']
# Calculate the mean of the weights
mean_weight = sum(weights)/len(weights)
print(mean_weight)

66.2

In [35]:
# Calculate the median height and print it
sorted_weights = sorted(weights)
median_weight = sorted_weights[int((len(sorted_weights)+1)/2 )- 1]
print(median_weight)

64

* Write a Python code to print the first three elements from the list of age values corresponding to the key 'Age'

In [36]:
# Python code to print the first three elements if the key is 'Age'

ages = locality_data['Age'][:3]
print(ages)

[42, 29, 35]

* Write a Python code to print the last two elements of the name list if the list of values corresponding to the key 'Name' contains the element 'Rashmi' else print 'Name not found'

In [37]:
# Your code below
name_list = locality_data['Name']

if 'Rashmi' in name_list:
  print(name_list[-2:])
else:
  print("Name not found")

['Rashmi', 'Vaishali']

**Problem 19**

A student will not be allowed to sit in exam if his/her attendence is less than 75%.

Take following input from user

Number of classes held
Number of classes attended

In [38]:
# Enter your input

print("Number of classes held")
classes_held = int(input())

print("Number of classes attended")
classes_attended = int(input())

Number of classes held
20
Number of classes attended
15

In [39]:
# Calculate the attendance percentage
attendance = classes_attended*100/classes_held

And print the following statements based on the condition above

* percentage of class attended
* Is student is allowed to sit in exam or not.

In [40]:
# Your code here 
print(f'Percentage of class attended is {attendance}')

if attendance < 75:
  print("You are not allowed to sit in the exam")
else:
  print("You are allowed to sit in the exam")

Percentage of class attended is 75.0
You are allowed to sit in the exam

**Problem 20**

A school has following rules for grading system:

* Below 25 - F
* 25 to 45 - E
* 45 to 50 - D
* 50 to 60 - C
* 60 to 80 - B
* Above 80 - A

Write a Python code which takes marks as inputs from the user and print the corresponding grade.

In [41]:
# Your input here 
print("Enter your marks")
marks = int(input())

Enter your marks
77

In [42]:
# Your coder here to print the corresponding grade

if marks<25:
  print("F")
elif marks>=25 and marks<45:
  print("E")
elif marks>=45 and marks<50:
  print("D")
elif marks>=50 and marks<60:
  print("C")
elif marks>=60 and marks<80:
  print("B")
else:
  print("A")

B