<a href="https://colab.research.google.com/github/Jaya9522/daily-practice/blob/main/Copy_of_13_03_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
start=1
end=10
for i in range(start, end+1):
  if i >1:
    for j in range(2, i):
      if(i%j)==0:
        break
    else:
      print(i,end=" ")

2 3 5 7

In [ ]:
num=8
square_root=num ** 0.5
print('The square root of %0.3f is %0.3f'%(num ,square_root))

The square root of 8.000 is 2.828

In [ ]:
# Find square root of real or complex numbers
# Importing the complex math module
import cmath

num = 1+2j

# To take input from the user
#num = eval(input('Enter a number: '))

num_sqrt = cmath.sqrt(num)
print('The square root of {0} is {1:0.3f}+{2:0.3f}j'.format(num ,num_sqrt.real,num_sqrt.imag))

The square root of (1+2j) is 1.272+0.786j

In [ ]:
# Python Program to find the area of triangle
# s = (a+b+c)/2
# area = √(s(s-a)*(s-b)*(s-c))

a = 5
b = 6
c = 7

# Uncomment below to take inputs from the user
# a = float(input('Enter first side: '))
# b = float(input('Enter second side: '))
# c = float(input('Enter third side: '))

# calculate the semi-perimeter
s = (a + b + c) / 2

# calculate the area
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is %0.2f' %area)

The area of the triangle is 14.70

In [ ]:
# Solve the quadratic equation ax**2 + bx + c = 0
# ax2 + bx + c = 0, where
# a, b and c are real numbers and
# a ≠ 0
# The solutions of this quadratic equation is given by:

# (-b ± (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
# import complex math module
import cmath

a = 1
b = 5
c = 6

# calculate the discriminant
d = (b**2) - (4*a*c)

# find two solutions
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are (-3+0j) and (-2+0j)

In [ ]:
# Python program to swap two variables

x = 5
y = 10

# To take inputs from the user
#x = input('Enter value of x: ')
#y = input('Enter value of y: ')

# create a temporary variable and swap the values
temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

The value of x after swapping: 10
The value of y after swapping: 5

In [ ]:
# Program to generate a random number between 0 and 9

# importing the random module
import random

print(random.randint(0,9))

5

In [ ]:
# Taking kilometers input from the user
kilometers = float(input("Enter value in kilometers: "))

# conversion factor
conv_fac = 0.621371

# calculate miles
miles = kilometers * conv_fac
print('%0.2f kilometers is equal to %0.2f miles' %(kilometers,miles))

Enter value in kilometers: 5
5.00 kilometers is equal to 3.11 miles

In [ ]:
# Python Program to convert temperature in celsius to fahrenheit

# change this value for a different result
celsius = 37.5

# calculate fahrenheit
fahrenheit = (celsius * 1.8) + 32
print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

37.5 degree Celsius is equal to 99.5 degree Fahrenheit

In [ ]:
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 6
Positive number

In [ ]:
# Python program to check if the input number is odd or even.
# A number is even if division by 2 gives a remainder of 0.
# If the remainder is 1, it is an odd number.

num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 5
5 is Odd

In [ ]:
# Python program to check if year is a leap year or not

year = 2000

# To get year (integer input) from the user
# year = int(input("Enter a year: "))

# divided by 100 means century year (ending with 00)
# century year divided by 400 is leap year
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))

# not divided by 100 means not a century year
# year divided by 4 is a leap year
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))

# if not divided by both 400 (century year) and 4 (not century year)
# year is not leap year
else:
    print("{0} is not a leap year".format(year))

2000 is a leap year

In [ ]:
# Python program to find the largest number among the three input numbers

# change the values of num1, num2 and num3
# for a different result
num1 = 10
num2 = 14
num3 = 12

# uncomment following lines to take three numbers from user
#num1 = float(input("Enter first number: "))
#num2 = float(input("Enter second number: "))
#num3 = float(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

The largest number is 14

In [ ]:
# Program to check if a number is prime or not
# Input from the user
num = int(input("Enter a number: "))

# If number is greater than 1
if num > 1:
   # Check if factor exist  
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           break
   else:
       print(num,"is a prime number")
       
# Else if the input number is less than or equal to 1
else:
   print(num,"is not a prime number")

Enter a number: 7
7 is a prime number

In [ ]:
# Python program to display all the prime numbers within an interval

lower = 900
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num,end=',')

Prime numbers between 900 and 1000 are:
907,911,919,929,937,941,947,953,967,971,977,983,991,997,

In [ ]:
# Python program to find the factorial of a number provided by the user.

# change the value for a different result
num = 7

# To take input from the user
#num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 7 is 5040

In [ ]:
# Python program to find the factorial of a number provided by the user
# using recursion

def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        # recursive call to the function
        return (x * factorial(x-1))


# change the value for a different result
num = 7

# to take input from the user
# num = int(input("Enter a number: "))

# call the factorial function
result = factorial(num)
print("The factorial of", num, "is", result)

The factorial of 7 is 5040

In [ ]:
# Multiplication table (from 1 to 10) in Python

num = 12

# To take input from the user
# num = int(input("Display multiplication table of? "))

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [ ]:
# Program to display the Fibonacci sequence up to n-th term

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 6
Fibonacci sequence:
0
1
1
2
3
5

In [ ]:
# Python program to print Fibonacci Series
def fibonacciSeries(i):
 if i <= 1:
  return i
 else:
  return (fibonacciSeries(i - 1) + fibonacciSeries(i - 2))

num=6 
if num <=0:
 print("Please enter a Positive Number")
else:
 print("Fibonacci Series:", end=" ")
for i in range(num):
 print(fibonacciSeries(i), end=" ")

Fibonacci Series: 0 1 1 2 3 5

In [ ]:
count = 0
while count < 10:
    count += 1
    print(count)

1
2
3
4
5
6
7
8
9
10

In [ ]:
num = int(input("Enter a number: "))
sum = 0
order = len(str(num))
print(order)

Enter a number: 153
3

In [ ]:
#Armstrong number check
num = int(input("Enter a number: "))
sum = 0
order = len(str(num))

temp = num
while temp > 0:
    digit = temp % 10
    sum += digit ** order
    temp //= 10

if num == sum:
    print(num, "is an Armstrong number")
else:
    print(num, "is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

In [ ]:
def is_armstrong(num):
    order = len(str(num))
    temp = num
    sum = 0
    
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10
    
    if num == sum:
        return True
    else:
        return False

In [ ]:
print(is_armstrong(153))

True

In [ ]:
num = 153
if is_armstrong(num):
    print(num, "is an Armstrong number")
else:
    print(num, "is not an Armstrong number")

153 is an Armstrong number

In [ ]:
# Program to check Armstrong numbers in a certain interval

lower = 100
upper = 2000

for num in range(lower, upper + 1):

   # order of number
   order = len(str(num))
    
   # initialize sum
   sum = 0

   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:
       print(num,end=" ")

153 370 371 407 1634

In [ ]:
# Sum of natural numbers up to num

num = 16

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

The sum is 136

In [ ]:
start = 30
end = 45
sum = 0

for i in range(start, end+1):
    sum += i

print("The sum of natural numbers between", start, "and", end, "is:", sum)

The sum of natural numbers between 30 and 45 is: 600

In [ ]:
# Display the powers of 2 using anonymous function

terms = 10

# Uncomment code below to take input from the user
# terms = int(input("How many terms? "))

# use anonymous function
result = list(map(lambda x: 2 ** x, range(terms)))

print("The total terms are:",terms)
for i in range(terms):
   print("2 raised to power",i,"is",result[i])

The total terms are: 10
2 raised to power 0 is 1
2 raised to power 1 is 2
2 raised to power 2 is 4
2 raised to power 3 is 8
2 raised to power 4 is 16
2 raised to power 5 is 32
2 raised to power 6 is 64
2 raised to power 7 is 128
2 raised to power 8 is 256
2 raised to power 9 is 512

In [ ]:
list1 = [-3, 8, -1, 6, 9, 3, -1, -7, -5, -42, 73, 65]
positive_list = []
negative_list = []

# Separate positive and negative numbers into two separate lists
for num in list1:
    if num >= 0:
        positive_list.append(num)
    else:
        negative_list.append(num)

# Combine positive and negative lists into a single list
result_list = negative_list + positive_list

print("Original list:", list1)
print("Separated negative list:", negative_list)
print("Separated positive list:", positive_list)
print("Combined list:", result_list)

Original list: [-3, 8, -1, 6, 9, 3, -1, -7, -5, -42, 73, 65]
Separated negative list: [-3, -1, -1, -7, -5, -42]
Separated positive list: [8, 6, 9, 3, 73, 65]
Combined list: [-3, -1, -1, -7, -5, -42, 8, 6, 9, 3, 73, 65]

In [ ]:
my_list= [-15, -26, 15, 1, 23, -64, 23, 76]
sort_list=[]
while my_list:
  min=my_list[0]
  for i in my_list:
    if i < min:
      min=i
  sort_list.append(min)
  my_list.remove(min)
print(sort_list)

[-64, -26, -15, 1, 15, 23, 23, 76]

In [ ]:
my_list= [-15, -26, 15, 1, 23, -64, 23, 76]
sort_list=[]
while my_list:
  maxx=my_list[0]
  for i in my_list:
    if i > maxx:
      maxx=i
  sort_list.append(maxx)
  my_list.remove(maxx)
print(sort_list)

[76, 23, 23, 15, 1, -15, -26, -64]

In [ ]:
filename='jayalaxmimekap'
file=filename.replace('a','A')
print(file)

jAyAlAxmimekAp

In [ ]:
filename='jayalaxmimekap'
index= 0
newc='J'
filename=filename[:index]+newc+filename[index+1:]
print(filename)

Jayalaxmimekap

In [ ]:
num = 12
listt = [10, 3, 4, 7, 6, 6, 2]

# Create an empty set to store pairs of elements that sum to 'num'
pairs = set()

# Loop through each element in the list
for i in range(len(listt)):
    # Check if 'num' minus the current element is already in the set
    if num - listt[i] in pairs:
        # If it is, print the pair of elements that sum to 'num'
        print("Pair found:", num - listt[i], listt[i])
    else:
        # Otherwise, add the current element to the set
        pairs.add(listt[i])

Pair found: 6 6
Pair found: 10 2

In [ ]:
num = 12
listt = [10, 3, 4, 7, 6, 6, 2]

# Create an empty dictionary to store the indices of each element
index_dict = {}

# Loop through each element in the list and store its index in the dictionary
for i in range(len(listt)):
    index_dict[listt[i]] = i

# Loop through each element in the list again
for i in range(len(listt)):
    # Check if 'num' minus the current element is in the dictionary
    if num - listt[i] in index_dict:
        # If it is, print the indices of the two elements that sum to 'num'
        print("Pair found at indices:", index_dict[num - listt[i]], i)

Pair found at indices: 6 0
Pair found at indices: 5 4
Pair found at indices: 5 5
Pair found at indices: 0 6

In [ ]:
num = 12
listt = [10, 3, 4, 7, 6, 6, 2]

# Create an empty dictionary to store the indices of each element
index_dict = {}

# Loop through each element in the list and store its index in the dictionary
for i in range(len(listt)):
    index_dict[listt[i]] = i

# Create an empty set to store the pairs of indices that have already been printed
printed_pairs = set()

# Loop through each element in the list again
for i in range(len(listt)):
    # Check if 'num' minus the current element is in the dictionary
    if num - listt[i] in index_dict:
        # If it is, get the indices of the two elements that sum to 'num'
        index1 = index_dict[num - listt[i]]
        index2 = i
        # Check if this pair of indices has already been printed
        if (index1, index2) not in printed_pairs and (index2, index1) not in printed_pairs:
            # If it hasn't, print the pair of elements that sum to 'num' and add the pair of indices to the set
            print("Pair found at indices:", index1, index2)
            printed_pairs.add((index1, index2))

Pair found at indices: 6 0
Pair found at indices: 5 4
Pair found at indices: 5 5

In [ ]:
# Take a list of numbers
my_list = [12, 65, 54, 39, 102, 339, 221,]

# use anonymous function to filter
result = list(filter(lambda x: (x % 13 == 0), my_list))

# display the result
print("Numbers divisible by 13 are",result)

Numbers divisible by 13 are [65, 39, 221]

In [ ]:
# Python program to convert decimal into other number systems
dec = 344

print("The decimal value of", dec, "is:")
print(bin(dec), "in binary.")
print(oct(dec), "in octal.")
print(hex(dec), "in hexadecimal.")

The decimal value of 344 is:
0b101011000 in binary.
0o530 in octal.
0x158 in hexadecimal.

In [ ]:
# Program to find the ASCII value of the given character

c = 'p'
print("The ASCII value of '" + c + "' is", ord(c))

The ASCII value of 'p' is 112

In [ ]:
#Modify the code above to get characters from their corresponding ASCII values using the chr() function as shown below.
print(chr(65))

A

In [ ]:
print(chr(112))

p

In [ ]:
# Python program to find H.C.F of two numbers

# define a function
def compute_hcf(x, y):

# choose the smaller number
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i 
    return hcf

num1 = 54 
num2 = 24

print("The H.C.F. is", compute_hcf(num1, num2))

The H.C.F. is 6

In [ ]:
# Define a function to find the LCM of two numbers
def lcm(a, b):
    # Find the GCD of the two numbers using the Euclidean algorithm
    def gcd(x, y):
        if y == 0:
            return x
        else:
            return gcd(y, x % y)
    # Calculate the LCM using the formula
    lcm = (a * b) // gcd(a, b)
    # Return the LCM
    return lcm

# Call the lcm() function with the two numbers
a = 54
b = 24
result = lcm(a, b)

# Print the result
print("The LCM of", a, "and", b, "is", result)

The LCM of 54 and 24 is 216

In [ ]:
# Python Program to find the factors of a number

# This function computes the factor of the argument passed
def print_factors(x):
   print("The factors of",x,"are:")
   for i in range(1, x + 1):
       if x % i == 0:
           print(i)

num = 320

print_factors(num)

The factors of 320 are:
1
2
4
5
8
10
16
20
32
40
64
80
160
320

In [ ]:
# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y


print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        try:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter a number.")
            continue

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        
        # check if user wants another calculation
        # break the while loop if answer is no
        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
          break
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 2
Enter first number: 4
Enter second number: 5
4.0 - 5.0 = -1.0
Let's do next calculation? (yes/no): yes
Enter choice(1/2/3/4): 6
Invalid Input
Enter choice(1/2/3/4): 4
Enter first number: 1
Enter second number: 2
1.0 / 2.0 = 0.5
Let's do next calculation? (yes/no): no

In [ ]:
# Program to display calendar of the given month and year

# importing calendar module
import calendar

yy = 2023  # year
mm = 3   # month

# To take month and year input from the user
# yy = int(input("Enter year: "))
# mm = int(input("Enter month: "))

# display the calendar
print(calendar.month(yy, mm))

     March 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [ ]:
# Python program to find the sum of natural using recursive function

def recur_sum(n):
   if n <= 1:
       return n
   else:
       return n + recur_sum(n-1)

# change this value for a different result
num = 9

if num < 0:
   print("Enter a positive number")
else:
   print("The sum is",recur_sum(num))

The sum is 45

In [ ]:
# Factorial of a number using recursion

def recur_factorial(n):
   if n == 1:
       return n
   else:
       return n*recur_factorial(n-1)

num = 7

# check if the number is negative
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   print("The factorial of", num, "is", recur_factorial(num))

The factorial of 7 is 5040

In [ ]:
# Function to print binary number using recursion
def convertToBinary(n):
   if n > 1:
       convertToBinary(n//2)
   print(n % 2,end = '')

# decimal number
dec = 34

convertToBinary(dec)
print()

100010

In [ ]:
# Program to add two matrices using nested loop

X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[5,8,1],
    [6,7,3],
    [4,5,9]]

result = [[0,0,0],
         [0,0,0],
         [0,0,0]]

# iterate through rows
for i in range(len(X)):
   # iterate through columns
   for j in range(len(X[0])):
       result[i][j] = X[i][j] + Y[i][j]

for r in result:
   print(r)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]

In [ ]:
#''' Program to transpose a matrix using list comprehension'''

X = [[12,7],
    [4 ,5],
    [3 ,8]]

result = [[X[j][i] for j in range(len(X))] for i in range(len(X[0]))]

for r in result:
   print(r)

[12, 4, 3]
[7, 5, 8]

In [ ]:
# Program to multiply two matrices using list comprehension

# 3x3 matrix
X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]

# 3x4 matrix
Y = [[5,8,1,2],
    [6,7,3,0],
    [4,5,9,1]]

# result is 3x4
result = [[sum(a*b for a,b in zip(X_row,Y_col)) for Y_col in zip(*Y)] for X_row in X]

for r in result:
   print(r)

[114, 160, 60, 27]
[74, 97, 73, 14]
[119, 157, 112, 23]

In [ ]:
a=~4
b=a+4
print(a)
print(b)

-5
-1

In [ ]:
# Program to check if a string is palindrome or not

my_str = 'aIbohPhoBiA'

# make it suitable for caseless comparison
my_str = my_str.casefold()

# reverse the string
rev_str = reversed(my_str)

# check if the string is equal to its reverse
if list(my_str) == list(rev_str):
   print("The string is a palindrome.")
else:
   print("The string is not a palindrome.")

The string is a palindrome.

In [ ]:
# define punctuation
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

my_str = "Hello!!!, he said ---and went."

# To take input from the user
# my_str = input("Enter a string: ")

# remove punctuation from the string
no_punct = ""
for char in my_str:
   if char not in punctuations:
       no_punct = no_punct + char

# display the unpunctuated string
print(no_punct)

Hello he said and went

In [ ]:
# Program to sort alphabetically the words form a string provided by the user

my_str = "Hello this Is an Example With cased letters"

# To take input from the user
#my_str = input("Enter a string: ")

# breakdown the string into a list of words
words = [word.lower() for word in my_str.split()]

# sort the list
words.sort()

# display the sorted words

print("The sorted words are:")
for word in words:
   print(word)

The sorted words are:
an
cased
example
hello
is
letters
this
with

In [ ]:
# Program to perform different set operations like in mathematics

# define three sets
E = {0, 2, 4, 6, 8};
N = {1, 2, 3, 4, 5};

# set union
print("Union of E and N is",E | N)

# set intersection
print("Intersection of E and N is",E & N)

# set difference
print("Difference of E and N is",E - N)

# set symmetric difference
print("Symmetric difference of E and N is",E ^ N)

Union of E and N is {0, 1, 2, 3, 4, 5, 6, 8}
Intersection of E and N is {2, 4}
Difference of E and N is {0, 8, 6}
Symmetric difference of E and N is {0, 1, 3, 5, 6, 8}

In [ ]:
# Program to count the number of each vowels

# string of vowels
vowels = 'aeiou'

ip_str = 'Hello, have you tried our tutorial section yet?'

# make it suitable for caseless comparisions
ip_str = ip_str.casefold()

# make a dictionary with each vowel a key and value 0
count = {}.fromkeys(vowels,0)

# count the vowels
for char in ip_str:
   if char in count:
       count[char] += 1

print(count)

{'a': 2, 'e': 5, 'i': 3, 'o': 5, 'u': 3}

In [ ]:
# Define the string
strr = 'hnsdgcskuegcbobgtrdfwghscsuhuChuciygdyvvsd'

# Create an empty dictionary to store the counts
char_counts = {}

# Loop through each character in the string
for char in strr:
    # If the character is not already in the dictionary, add it with a count of 1
    if char not in char_counts:
        char_counts[char] = 1
    # If the character is already in the dictionary, increment its count by 1
    else:
        char_counts[char] += 1

# Print the counts for each character
for char in char_counts:
    print(char, ":", char_counts[char])

h : 4
n : 1
s : 5
d : 4
g : 5
c : 4
k : 1
u : 4
e : 1
b : 2
o : 1
t : 1
r : 1
f : 1
w : 1
C : 1
i : 1
y : 2
v : 2

In [ ]:
# Define the string
strr = 'hnsdgcskuegcbobgtrdfwghscsuhuChuciygdyvvsd'

# Create an empty dictionary to store the counts
char_counts = {}

# Loop through each character in the string
for char in strr:
    # If the character is not already in the dictionary, add it with a count of 1
    if char not in char_counts:
        char_counts[char] = 1
    # If the character is already in the dictionary, increment its count by 1
    else:
        char_counts[char] += 1

# Print the dictionary of counts
print(char_counts)

{'h': 4, 'n': 1, 's': 5, 'd': 4, 'g': 5, 'c': 4, 'k': 1, 'u': 4, 'e': 1, 'b': 2, 'o': 1, 't': 1, 'r': 1, 'f': 1, 'w': 1, 'C': 1, 'i': 1, 'y': 2, 'v': 2}

In [ ]:
rows = int(input("Enter number of rows: "))

for i in range(rows):
    for j in range(i+1):
        print("* ", end="")
    print("\n")

Enter number of rows: 5
*

* *

* * *

* * * *

* * * * *

In [ ]:
dict_1 = {1: 'a', 2: 'b'}
dict_2 = {2: 'c', 4: 'd'}

print(dict_1 | dict_2)

{1: 'a', 2: 'c', 4: 'd'}

In [ ]:
my_list = [21, 44, 35, 11]

for index, val in enumerate(my_list):
    print(index, val)

0 21
1 44
2 35
3 11

In [ ]:
my_list = [21, 44, 35, 11]

for index, val in enumerate(my_list, start=1):
    print(index, val)

1 21
2 44
3 35
4 11

In [ ]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = [num for sublist in my_list for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = []
for sublist in my_list:
    for num in sublist:
        flat_list.append(num)

print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
my_list = [1, 2, 3, 4, 5]

print(my_list[:])

[1, 2, 3, 4, 5]

In [ ]:
my_list = [1, 2, 3, 4, 5]

print(my_list[2:])

[3, 4, 5]

In [ ]:
my_list = [1, 2, 3, 4, 5]

print(my_list[:2])

[1, 2]

In [ ]:
my_list = [1, 2, 3, 4, 5]

print(my_list[::-2])

[5, 3, 1]

In [ ]:
my_list = [1, 2, 3, 4, 5]

print(my_list[1:4:2])

[2, 4]

In [ ]:
dt = {'a': 'juice', 'b': 'grill', 'c': 'corn'}

for key, value in dt.items():
    print(key, value)

a juice
b grill
c corn

In [ ]:
dt = {5:4, 1:6, 6:3}

sorted_dt = {key: value for key, value in sorted(dt.items(), key=lambda item: item[1])}

print(sorted_dt)

{6: 3, 5: 4, 1: 6}

In [ ]:
my_list = []
if not my_list:
    print("the list is empty")

the list is empty

In [ ]:
list_1 = [1, 'a']
list_2 = [3, 4, 5]

list_joined = list_1 + list_2
print(list_joined)

[1, 'a', 3, 4, 5]

In [ ]:
my_dict = {1: 'a', 2: 'b', 3: 'c'}

if 2 in my_dict.keys():
    print("present")

present

In [ ]:
def split(list_a, chunk_size):

  for i in range(0, len(list_a), chunk_size):
    yield list_a[i:i + chunk_size]

chunk_size = 2
my_list = [1,2,3,4,5,6,7,8,9]
print(list(split(my_list, chunk_size)))

[[1, 2], [3, 4], [5, 6], [7, 8], [9]]

In [ ]:
from datetime import datetime

my_date_string = "Mar 11 2011 11:31AM"

datetime_object = datetime.strptime(my_date_string, '%b %d %Y %I:%M%p')

print(type(datetime_object))
print(datetime_object)

<class 'datetime.datetime'>
2011-03-11 11:31:00

In [ ]:
my_string = "I love python."

# prints "love"
print(my_string[2:6])

# prints "love python."
print(my_string[2:])

# prints "I love python"
print(my_string[:-1])

love
love python.
I love python

In [ ]:
# print each statement on a new line
print("Python")
print("is easy to learn.")

# new line
print()

# print both the statements on a single line
print("Python", end=" ")
print("is easy to learn.")

Python
is easy to learn.

Python is easy to learn.

In [ ]:
import random

my_list = [1, 'a', 32, 'c', 'd', 31]
print(random.choice(my_list))

31

In [ ]:
def isfloat(num):
    try:
        float(num)
        return True
    except ValueError:
        return False

print(isfloat('s12'))
print(isfloat('1.123'))

False
True

In [ ]:
my_dict = {31: 'a', 21: 'b', 14: 'c'}

print(my_dict.pop(31))

print(my_dict)

a
{21: 'b', 14: 'c'}

In [ ]:
my_string = '''The only way to
learn to program is
by writing code.'''

print(my_string)

The only way to
learn to program is
by writing code.

In [ ]:
my_string = ("The only way to \n"
        	"learn to program is \n"
        	"by writing code.")

print(my_string)

The only way to
learn to program is
by writing code.

In [ ]:
my_string = "The only way to \n" \
        	"learn to program is \n" \
        	"by writing code."

print(my_string)

The only way to
learn to program is
by writing code.

In [ ]:
import time

start = time.time()

print(23*2.3)

52.9

In [ ]:
end = time.time()
print(end - start)

9.387203693389893

In [ ]:
class Vehicle:
    def name(self, name):
        return name

v = Vehicle()
print(v.__class__.__name__)

Vehicle

In [ ]:
index = [1, 2, 3]
languages = ['python', 'c', 'c++']

dictionary = dict(zip(index, languages))
print(dictionary)

{1: 'python', 2: 'c', 3: 'c++'}

In [ ]:
my_string = " Python "

print(my_string.strip())

Python

In [ ]:
import re

my_string  = " Hello Python "
output = re.sub(r'^\s+|\s+$', '', my_string)

print(output)

Hello Python

In [ ]:
list_1 = [1, 2, 3, 4]
list_2 = ['a', 'b', 'c']

for i, j in zip(list_1, list_2):
    print(i, j)

1 a
2 b
3 c

In [ ]:
import os

#file_stat = os.stat('my_file.txt')
#print(file_stat.st_size)

In [ ]:
num = 123456
print(str(num)[::-1])

654321

In [ ]:
num = 1234
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

Reversed Number: 4321

In [ ]:
base = 3
exponent = 4

result = 1

for exponent in range(exponent, 0, -1):
    result *= base

print("Answer = " + str(result))

Answer = 81

In [ ]:
3**4

81

In [ ]:
num = 123456
print(len(str(num)))

6

In [ ]:
str1 = "Race"
str2 = "Care"

# convert both the strings into lowercase
str1 = str1.lower()
str2 = str2.lower()

# check if length is same
if(len(str1) == len(str2)):

    # sort the strings
    sorted_str1 = sorted(str1)
    sorted_str2 = sorted(str2)

    # if sorted char arrays are same
    if(sorted_str1 == sorted_str2):
        print(str1 + " and " + str2 + " are anagram.")
    else:
        print(str1 + " and " + str2 + " are not anagram.")

else:
    print(str1 + " and " + str2 + " are not anagram.")

race and care are anagram.

In [ ]:
my_string = "programiz is Lit"

print(my_string[0].upper() + my_string[1:])

Programiz is Lit

In [ ]:
my_string = "programiz is Lit"

cap_string = my_string.capitalize()

print(cap_string)

Programiz is lit

In [ ]:
count = 0

my_string = "Programiz"
my_char = "r"

for i in my_string:
    if i == my_char:
        count += 1

print(count)

2

In [ ]:
list_1 = [1, 2, 1, 4, 6]

print(list(set(list_1)))

[1, 2, 4, 6]

In [ ]:
list_1 = [1, 2, 1, 4, 6]
list_2 = [7, 8, 2, 1]

print(list(set(list_1) ^ set(list_2)))

[4, 6, 7, 8]

In [ ]:
n = int(input().strip())
if (n%2!=0)or (n>=6 and n<=20):
    print("Weird")
else:
    print('Not Weird')

10
Weird

In [ ]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
l=list()
for i in range(x+1):
  for j in range(y+1):
    for k in range(z+1):
      if(i+j+k!=n):
        l.append([i,j,k])
print(l)

1
1
2
3
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 2]]

In [ ]:
n= int(input())
arr = list(map(int, input().split()))    

a=max(arr)
b=arr.count(a)
for i in range(b):
   arr.remove(a)
print(max(arr))

5
6 7 10 12 11
11

In [ ]:
dic={}
s=list()
for _ in range(int(input())):
    name = input()
    score = float(input())
    if score in dic:
        dic[score].append(name)
    else:
        dic[score]=[name]
    if score not in s:
            s.append(score) 
m=min(s)
s.remove(m)
m1=min(s)
dic[m1].sort()
for i in dic[m1]:
     print(i)

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

In [ ]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
    
query_name = input()
s=0
for i in student_marks[query_name]:
    s=s+i
print("{0:.2f}".format(s/3))

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

In [ ]:
listt=[]
N = int(input())
for i in range (N):
    command=input().split()
    if command[0]=='insert':
         listt.insert(int(command[1]),int(command[2]))
    elif command[0]=='print':
        print(listt)
    elif command[0]=='remove':
        listt.remove(int(command[1]))
    elif command[0]=='append':
         listt.append(int(command[1]))
    elif command[0]=='sort':
        listt.sort()
    elif command[0]=='pop':
        listt.pop()
    else:
        listt.reverse()

7
insert 0 5
print
[5]
remove 5
append 9
sort
pop
reverse

In [ ]:
n = int(input().strip()) 
t = tuple(int(i) for i in input().strip().split())

print(hash(t))

2
1 2
-3550055125485641917

In [ ]:
string = 'HackerRank.com presents "Pythonist 2"'
swapped_string = ''

for char in string:
    if char.islower():
        swapped_string += char.upper()
    elif char.isupper():
        swapped_string += char.lower()
    else:
        swapped_string += char

print(swapped_string)

hACKERrANK.COM PRESENTS "pYTHONIST 2"

In [ ]:
def swap_case(s):
    x=""
    for c in s:
      if c.isupper():
        c=c.lower()
      else:
        c=c.upper()
      x+="".join(c)
    return x

In [ ]:
print(swap_case('HackerRank.com presents "Pythonist 2"'))

hACKERrANK.COM PRESENTS "pYTHONIST 2"

In [ ]:
def split_and_join(line):
    # write your code here
   a= line.split()
   b="-".join(a)
   return b

In [ ]:
print(split_and_join('this is a string'))

this-is-a-string

In [ ]:
def print_full_name(first, last):
    # Write your code here
  print('Hello '+first+' '+last+'!'+' You just delved into python.')

In [ ]:
print(print_full_name('jayalaxmi', 'Mekap'))

Hello jayalaxmi Mekap! You just delved into python.
None

In [ ]:
def count_substring(string, sub_string):
    ml=len(string)
    sl=len(sub_string)
    c=0
    for i in range(ml-sl+1):
        if(string[i:(i+sl)]==sub_string):
            c=c+1
    return c

In [ ]:
print(count_substring('ABCDCDC', 'CDC'))

2

In [ ]:
sting='ABCDCDC'
sting.count('CDC')

1

In [ ]:
s = input()
print(any([i.isalnum() for i in s]))
print(any([i.isalpha() for i in s]))
print(any([i.isdigit() for i in s]))
print(any([i.islower() for i in s]))
print(any([i.isupper() for i in s]))

Jaya1995
True
True
True
True
True

In [ ]:
thickness = int(input()) #This must be an odd number
c = 'H'

#Top Cone
for i in range(thickness):
    print((c*i).rjust(thickness-1)+c+(c*i).ljust(thickness-1))

#Top Pillars
for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6))

#Middle Belt
for i in range((thickness+1)//2):
    print((c*thickness*5).center(thickness*6))    

#Bottom Pillars
for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6))    

#Bottom Cone
for i in range(thickness):
    print(((c*(thickness-i-1)).rjust(thickness)+c+(c*(thickness-i-1)).ljust(thickness)).rjust(thickness*6))

5
    H
   HHH
  HHHHH
 HHHHHHH
HHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
                    HHHHHHHHH
                     HHHHHHH
                      HHHHH
                       HHH
                        H

In [ ]:
import textwrap

def wrap(string, max_width):
    return textwrap.fill(string,max_width)

In [ ]:
print(wrap('ABCDEFGHIJKLIMNOQRSTUVWXYZ',4))

ABCD
EFGH
IJKL
IMNO
QRST
UVWX
YZ

In [ ]:
R,C=map(int,input().split(' '))
for i in range(1,R,2):
    print(('.|.'*i).center(C,'-'))
print('WELCOME'.center(C,"-"))
for i in range(R-2,-1,-2):
    print(('.|.'*i).center(C,'-'))

11 33
---------------.|.---------------
------------.|..|..|.------------
---------.|..|..|..|..|.---------
------.|..|..|..|..|..|..|.------
---.|..|..|..|..|..|..|..|..|.---
-------------WELCOME-------------
---.|..|..|..|..|..|..|..|..|.---
------.|..|..|..|..|..|..|.------
---------.|..|..|..|..|.---------
------------.|..|..|.------------
---------------.|.---------------

In [ ]:
def print_formatted(number):
    # your code goes here
   l=len("{0:b}".format(number))
   for i in range(1,number+1):
    print( "{0:{w}d} {0:{w}o} {0:{w}X} {0:{w}b}".format(i,w=l))

In [ ]:
print(print_formatted(10))

   1    1    1    1
   2    2    2   10
   3    3    3   11
   4    4    4  100
   5    5    5  101
   6    6    6  110
   7    7    7  111
   8   10    8 1000
   9   11    9 1001
  10   12    A 1010
None

In [ ]:
def print_rangoli(size):
    # your code goes here
     
       alphabet = ' abcdefghijklmnopqrstuvwxyz'

       for i in range(size,0,-1):
          c = alphabet[size:i:-1] + alphabet[i:size+1]
          c = '-'.join(c)
          print(c.center((size*4)-3,'-'))

       for i in range(0,size-1):
        c = alphabet[size:i+2:-1] + alphabet[i+2:size+1]
        c ='-'.join(c)
        print(c.center((size*4)-3,'-'))

In [ ]:
print(print_rangoli(5))

--------e--------
------e-d-e------
----e-d-c-d-e----
--e-d-c-b-c-d-e--
e-d-c-b-a-b-c-d-e
--e-d-c-b-c-d-e--
----e-d-c-d-e----
------e-d-e------
--------e--------
None

In [ ]:
import string

# Complete the solve function below.
def solve(s):
    l=s.split(" ")
    s=''
    for i in l:
        s=s+i.capitalize()+' '
    return s

In [ ]:
print(solve('chris alan'))

Chris Alan

In [ ]:
def minion_game(string):
    # your code goes here
    vowels = 'AEIOU'
    stuart = 0
    kevin = 0
    len_string = len(string)
        
    for i, l in enumerate(string):
        if l in vowels:
            kevin += len_string - i
        else:
            stuart += len_string - i
            
    if stuart > kevin:
        print('Stuart', stuart)
    elif kevin > stuart:
        print('Kevin', kevin)
    else:
        print('Draw')

In [ ]:
print(minion_game("BANANA"))

Stuart 12
None

In [ ]:
from itertools import product
A=list(map(int,input().split()))
B=list(map(int,input().split()))
for i in list(product(A,B)):
  print(i, end=' ')

1 2
3 4
(1, 3) (1, 4) (2, 3) (2, 4)

In [ ]:
from collections import Counter
no_of_shoes=int(input())
size_list=map(int, input().split())
no_of_customer=int(input())
shoes=Counter(size_list)
income=0
for i in range(no_of_customer):
  size, price=map(int, input().split())
  if shoes[size]:
    income+=price
    shoes[size]-=1
print(income)

10
2 3 4 5 6 8 7 6 5 18
6
6 55
6 45
6 55
4 40
18 60
10 50
200

In [ ]:
from itertools import permutations
s=input().split()
string=sorted(s[0])
number=int(s[1])
print(*list(map(''.join,permutations(string,number))),sep='\n')

HACK 2
AC
AH
AK
CA
CH
CK
HA
HC
HK
KA
KC
KH

In [ ]:
import cmath
c=complex(input().strip())
res=cmath.polar(c)
print(res[0])
print(res[1])

 1+2j
2.23606797749979
1.1071487177940904

In [ ]:
def average(array):
    # your code goes here
    return round(sum(set(array))/len(set(array)),3)

In [ ]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
from calendar import weekday, day_name
m, d, y = map(int, input().split())
day = day_name[weekday(y, m, d)]
print(day.upper())

08 05 2015
WEDNESDAY

In [ ]:
for i in range(int(input())):
    try:
       a,b=map(int,input().split())
       print(a//b)
    except ZeroDivisionError as e:
        print("Error Code:",e)
    except ValueError as e:
       print("Error Code:",e)

3
1 0
Error Code: integer division or modulo by zero
2 $
Error Code: invalid literal for int() with base 10: '$'
3 1
3

In [ ]:
from collections import namedtuple

In [ ]:
n=int(input())
data=namedtuple('data',input())
marks_list=[]
for i in range(n):
   marks=int(data(*input().split()).MARKS)
   marks_list.append(marks)
print(sum(marks_list)/n)

5
ID         MARKS      NAME       CLASS
1          97         Raymond    7
2          50         Steven     4
3          91         Adrian     9
4          72         Stewart    5
5          80         Peter      6
78.0

In [ ]:
import math
AB=int(input())
BC=int(input())
tita=(math.atan(AB/BC))
tita_to_degree=round(math.degrees(tita))
print(tita_to_degree,chr(176),sep='')

10
10
45°

In [ ]:
n,m=map(int, input().split())
array=list(map(int, input().split()))
A=set(map(int, input().split()))
B=set(map(int, input().split()))
print(sum((i in A)- (i in B) for i in array))

3 2
1 5 3
3 1
5 7
1

In [ ]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
n=int(input())
set1=set()
for i in range(n):
  set1.add(input())
print(len(set1))

7
UK
China
USA
France
New Zealand
UK
France
6

In [ ]:
from collections import Counter
n = int(input())
c = Counter([input() for _ in range(n)])
print(len(c))
print(' '.join(map(str,c.values())))

4
abcd
dcbh
abch
abcd
3
2 1 1

netflix dashboard link tableau

https://public.tableau.com/app/profile/jayalaxmi.mekap/viz/Netflix_dashboard_16796752975590/Netflixdashboard?publish=yes

In [ ]:
string="almabetter"
dictt={}
uni_set=set(string)
for i in uni_set:
    dictt[i]=string.count(i)
dictt

{'t': 2, 'e': 2, 'a': 2, 'l': 1, 'm': 1, 'b': 1, 'r': 1}

In [ ]:
def insert_string_middle(original_str, string_to_insert):
    original_str_len = len(original_str)
    insertion_index = original_str_len // 2
    new_str = original_str[:insertion_index] + string_to_insert + original_str[insertion_index:]
    return new_str

In [ ]:
original_str = "[[]]"
string_to_insert = "Python"
new_str = insert_string_middle(original_str, string_to_insert)
print(new_str)

[[Python]]

In [ ]:
num = eval(input())
new=[]
for i in num:
    i="emp"+str(i)
    new.append(i)
print(new)

[1,2,3,4]
['emp1', 'emp2', 'emp3', 'emp4']

In [ ]:
def iterate_over_dict(dictn):
    for dict_key, dict_value in dictn.items():
        print(dict_key, '=>', dict_value)
        
dictn = dict(eval(input()))
iterate_over_dict(dictn)

{'x': 10, 'y': 20, 'z': 30}
x => 10
y => 20
z => 30

In [ ]:
l1=1, 2, 3, 4 
l2=1, 4, 9, 16
duct=dict(zip(l1,l2))
print(duct)

{1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
d1 = {'a': 100, 'b': 200} 
d2 = {'x': 300, 'y': 200}
ditch=d1.copy()
ditch.update(d2)
print(ditch)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [ ]:
listy=[3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]
new_list=[]
new_list2=[]
for i in listy:
    if i != 0:
        new_list.append(i)
    else:
        new_list2.append(i)
todo_list=new_list+new_list2  
print(todo_list)

[3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
def move_spaces_to_front(string):
    num_spaces = string.count(' ')
    new_string = ' ' *num_spaces + string.replace(' ', '')
    return new_string

In [ ]:
Input= "w3resource . com "
print(move_spaces_to_front(Input))

   w3resource.com

In [ ]:
Input= "w3resource . com "
num_spaces = Input.count(' ')
new_string = ' ' *num_spaces + Input.replace(' ', '')

In [ ]:
num_spaces

3

In [ ]:
new_string

'   w3resource.com'

In [ ]:
sti=str(input())
if len(sti) > 3:
    if sti[-3:]=='ing':
        print(sti+'ly')
    else:
        print(sti+'ing') 
else:
    print(sti)

lying
lyingly

In [ ]:
sti='lying'
if sti[-3:]=='ing':
    print(sti+'ly')

lyingly

In [ ]:
dd='programming'
newd={}
for i in dd:
    newd[i]=dd.count(i)
print(newd)

{'p': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}

In [ ]:
si1='google'
char='g'
new_string = ''.join([i for i in si1 if i == char])
print(new_string)

gg

In [ ]:
start=500
end=900
for i in range(start,end+1):
    if i%5==0 and i%7==0:
        print(i,end=',')

525,560,595,630,665,700,735,770,805,840,875,

In [ ]:
# your code goes here
def larger_string(str, n):
   result = ""
   for i in range(n):
      result = result + str
   return result
strng=input()
t=int(input())
print(larger_string(strng, t))

abc
2
abcabc

In [ ]:
print('abc'*2)

abcabc

In [ ]:
num=int(input())
for i in range(num):
    if i%3==0:
        print('fizz')
        continue
    elif i%5==0:
        print('buzz')
        continue
    elif i%3==0 and i%5==0:
      print('fizzbuzz')
      continue
      print(i)

5
fizz
fizz

In [ ]:
def vowel(text):
    vowels = "aeiuoAEIOU"
    print(len([letter for letter in text if letter in vowels]))
    print([letter for letter in text if letter in vowels])
    
text = input()
vowel(text)

buzz words
2
['u', 'o']

In [ ]:
v='buzz words'
for i in v:
    if i in ('aeiouAEIOU')
    print(len())

In [ ]:
def median(a, b, c):
    if a <= b <= c or c <= b <= a:
        return b
    elif b <= a <= c or c <= a <= b:
        return a
    else:
        return c

In [ ]:
in1=input()
in2=input()
in3=input()
median_num = median(in1, in2, in3)
print("The median of the three numbers is:", median_num)

103
4935
239
The median of the three numbers is: 239

In [ ]:
# your code goes here

a = float(input())
b = float(input())
c = float(input())

if a > b:
    if a < c:
        median = a
    elif b > c:
        median = b
    else:
        median = c
else:
    if a > c:
        median = a
    elif b < c:
        median = b
    else:
        median = c

print("The median is", median)

103
4935
239
The median is 239.0

In [ ]:
string = input("Enter a string: ")

# create a dictionary to store the count of each character in the string
char_count = {}

# iterate over the characters in the string and update the count in the dictionary
for char in string:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

# iterate over the characters in the string again and return the first non-repeating character
for char in string:
    if char_count[char] == 1:
        print("The first non-repeating character is", char)
        break
else:
    print("There are no non-repeating characters in the string.")

Enter a string: abcdef
The first non-repeating character is a

In [ ]:
n = int(input("Number of rows: "))

# print upper half of the pattern
for i in range(1, n+1):
    for j in range(1, i+1):
        if j == i:
            print("*.", end="")
        else:
            print("*.", end="")
    print()

# print lower half of the pattern
for i in range(n-1, 0, -1):
    for j in range(1, i+1):
        if j == i:
            print("*.", end="")
        else:
            print("*.", end="")
    print()

Number of rows: 5
*
*.*
*.*.*
*.*.*.*
*.*.*.*.*
*.*.*.*.
*.*.*.
*.*.
*.

In [ ]:
from collections import Counter

string = str(input())

# split the string into words
words = string.split()

# count the frequency of each word
word_count = Counter(words)

# find the second most repeated word
most_common = word_count.most_common(2)
if len(most_common) == 1:
    print("There is only one word in the string.")
else:
    if most_common[0][1] == most_common[1][1]:
        print("There is no second most repeated word.")
    else:
        second_most_common = most_common[1]
        print("('{}', {})".format(second_most_common[0], second_most_common[1]))

Both of these issues are fixed by postponing the evaluation of annotations. Instead of compiling code which executes expressions in annotations at their definition time, the compiler stores the annotation in a string form equivalent to the AST of the expression in question. If needed, annotations can be resolved at runtime using typing.get_type_hints(). In the common case where this is not required, the annotations are cheaper to store (since short strings are interned by the interpreter) and make startup time faster.
('of', 4)

In [ ]:
def unique_words(items):
    words = [word for word in items.split("","")]
    return "","".join(sorted(list(set(words))))

words = input(""Input comma separated sequence of words: \n"")
print(unique_words(words))

In [ ]:
def unique_words(items):
    words = [word for word in items.split(",")]
    return ",".join(sorted(list(set(words))))

words = input("Input comma separated sequence of words:\n")
print(unique_words(words))

Input comma separated sequence of words:
data,analysis,model,decission
analysis,data,decission,model

In [ ]:
def remove_duplicates(s):
    unique_s = ""
    for char in s:
        if char not in unique_s:
            unique_s += char
    return unique_s

s=str(input())
unique_s = remove_duplicates(s)
print(unique_s)

python exercises practice solution
python exrcisalu

In [ ]:
def count_upper_lower(s):
    upper_count = 0
    lower_count = 0
    
    for char in s:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
    
    print("Original String :", s)
    print("No. of Upper case characters :", upper_count)
    print("No. of Lower case characters :", lower_count)
    
    return upper_count, lower_count

s = input("Enter a string: ")
print(count_upper_lower(s))

Enter a string: The quick Brown Fox
Original String : The quick Brown Fox
No. of Upper case characters : 3
No. of Lower case characters : 13
(3, 13)

In [ ]:
def count_upper_lower(s):
    upper_count = 0
    lower_count = 0
    
    for char in s:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
    
    print("Original String :", s)
    print("No. of Upper case characters :", upper_count)
    print("No. of Lower case characters :", lower_count)

s = input("Enter a string: ")
count_upper_lower(s)

Enter a string: The quick Brown Fox
Original String : The quick Brown Fox
No. of Upper case characters : 3
No. of Lower case characters : 13

In [ ]:
def count_upper_lower(s):
    upper_count = 0
    lower_count = 0
    
    for char in s:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
    
    print("Original String :", s)
    print("No. of Upper case characters :", upper_count)
    print("No. of Lower case characters :", lower_count)

s =str(input())
count_upper_lower(s)

The quick Brown Fox
Original String : The quick Brown Fox
No. of Upper case characters : 3
No. of Lower case characters : 13

In [ ]:
def count_upper_lower(s):
    upper_count = 0
    lower_count = 0
    
    for char in s:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
    
    print("Original String :", s)
    print("No. of Upper case characters :", upper_count)
    print("No. of Lower case Characters :", lower_count)

In [ ]:
s =str(input())
count_upper_lower(s)

The quick Brown Fox
The quick Brown Fox
Original String : The quick Brown Fox
No. of Upper case characters : 3
No. of Lower case Characters : 13

In [ ]:
def string_test(s):
    d={""UPPER_CASE"":0, ""LOWER_CASE"":0}
    for c in s:
        if c.isupper():
           d[""UPPER_CASE""]+=1
        elif c.islower():
           d[""LOWER_CASE""]+=1
        else:
           pass
    print (""Original String : "", s)
    print (""No. of Upper case characters : "", d[""UPPER_CASE""])
    print (""No. of Lower case Characters : "", d[""LOWER_CASE""])

srt = input()
string_test(srt)

SyntaxError: ignored

In [ ]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
            d["UPPER_CASE"] += 1
        elif c.islower():
            d["LOWER_CASE"] += 1
        else:
            pass
    print("Original String: ", s)
    print("No. of Upper case characters: ", d["UPPER_CASE"])
    print("No. of Lower case Characters: ", d["LOWER_CASE"])

srt = input()
string_test(srt)

The quick Brown Fox
Original String:  The quick Brown Fox
No. of Upper case characters:  3
No. of Lower case Characters:  13

In [ ]:
def test_number5(x, y):
   if x == y or abs(x-y) == 5 or (x+y) == 5: 
     return True 
  else: 
    return False

n1 = int(input()) 
n2 = int(input())
print(test_number5(n1, n2))

IndentationError: ignored

In [ ]:
def test_number5(x, y):
    if x == y or abs(x-y) == 5 or (x+y) == 5: 
        return True 
    else: 
        return False

n1 = int(input("Enter a number: ")) 
n2 = int(input("Enter another number: "))
print(test_number5(n1, n2))

Enter a number: 7
Enter another number: 2
True

In [ ]:
2

2

In [ ]:
def print_pascal_triangle(n):
    # create an empty list to hold the rows of Pascal's triangle
    pascal_triangle = []
    
    for i in range(n):
        # create a new row for Pascal's triangle
        row = [1] * (i+1)
        # calculate the values of the row using the previous row
        for j in range(1, i):
            row[j] = pascal_triangle[i-1][j-1] + pascal_triangle[i-1][j]
        # append the row to the Pascal's triangle
        pascal_triangle.append(row)
    
    # print the Pascal's triangle
    for row in pascal_triangle:
        print(" "*(2*(n-len(row))), end="")
        print("  ".join(str(x) for x in row))

# prompt the user to input the number of rows in Pascal's triangle
n = int(input("Enter the number of rows in Pascal's triangle: "))

# print the Pascal's triangle
print_pascal_triangle(n)

Enter the number of rows in Pascal's triangle: 6
           1
         1  1
       1  2  1
     1  3  3  1
   1  4  6  4  1
 1  5  10  10  5  1

In [ ]:
def print_pascal_triangle(n):
    # create an empty list to hold the rows of Pascal's triangle
    pascal_triangle = []
    
    for i in range(n):
        # create a new row for Pascal's triangle
        row = [1] * (i+1)
        # calculate the values of the row using the previous row
        for j in range(1, i):
            row[j] = pascal_triangle[i-1][j-1] + pascal_triangle[i-1][j]
        # append the row to the Pascal's triangle
        pascal_triangle.append(row)
    
    # print the Pascal's triangle
    for row in pascal_triangle:
        print(" "*(2*(n-len(row))), end="")
        print(" ".join(str(x) for x in row))

# prompt the user to input the number of rows in Pascal's triangle
n = int(input("Enter the number of rows in Pascal's triangle: "))

# print the Pascal's triangle
print_pascal_triangle(n)

Enter the number of rows in Pascal's triangle: 6
          1
        1 1
      1 2 1
    1 3 3 1
  1 4 6 4 1
1 5 10 10 5 1

In [ ]:
from math import factorial
 
# input n
n = 5
for i in range(n):
    for j in range(n-i+1):
 
        # for left spacing
        print(end=" ")
 
    for j in range(i+1):
 
        # nCr = n!/((n-r)!*r!)
        print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
 
    # for new line
    print()

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

In [ ]:
from math import factorial
n = int(input())
for i in range(n):
    for j in range(n-i+1):
 
        # for left spacing
        print(end=" ")
 
    for j in range(i+1):
 
        # nCr = n!/((n-r)!*r!)
        print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
 
    # for new line
    print()

6
       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1
  1 5 10 10 5 1

In [ ]:
def solve(n):
   for i in range(n+1):
      for j in range(n-i):
         print(' ', end='')

      C = 1
      for j in range(1, i+1):
         print(C, ' ', sep='', end='')
         C = C * (i - j) // j
      print()

n = 6
solve(n)

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1
1 5 10 10 5 1

In [ ]:
# create a lambda function that adds 15 to a given number
add_lambda = lambda x: x + 15

# create a lambda function that multiplies two numbers
mult_lambda = lambda x, y: x * y

# prompt the user to input a number for testing the lambda functions
num = int(input())
x = int(input())
y = int(input())
# use the add_lambda to add 15 to the number
num_after_addition = add_lambda(num)
print("After addition:", num_after_addition)
# use the mult_lambda function to multiply x and y
mult_result = mult_lambda(x, y)
print("After multiplication:", mult_result)

10
12
4
After addition: 25
After multiplication: 48

In [ ]:
x = int(input())
y = int(input()) 
if x >= 10 ** 80 or y >= 10 ** 80 or x + y >= 10 ** 80: 
   print("Overflow!")
else: 
   print(x + y)

IndentationError: ignored

In [ ]:
def nextprime(n):
    p=n+1
    for i in range(2,p):
        if(p%i==0):
            p=p+1
    else:
            print('The Next prime number of', n, 'is:', p)
n=int(input())
nextprime(n)

48
The Next prime number of 48 is: 53

In [ ]:
# define a function to find the integer exponent x
def find_exponent(n, a):
    x = 0
    while n % a == 0:
        n = n // a
        x += 1
    if n == 1:
        return x
    else:
        return None

# prompt the user to input the values of n and a
n = int(input())
a = int(input())

# call the function to find the integer exponent x
x = find_exponent(n, a)

# print the result
if x is not None:
    print(x)
else:
    print("There is no integer exponent x for a^x = n.")

1024
2
10

In [ ]:
def swap_nth_values(lst, n):
    for i in range(0, len(lst)-1, n):
        lst[i], lst[i+1] = lst[i+1], lst[i]
    return lst
lst = [1, 0, 3, 2, 5, 4]
n = 1  # set n to the desired value
result = swap_nth_values(lst, n)
print(result)  # prints [0, 1, 2, 3, 4, 5]

[0, 3, 2, 5, 4, 1]

In [ ]:
def swap_nth_values(lst, n):
    for i in range(0, len(lst)-1, n):
        lst[i], lst[i+1] = lst[i+1], lst[i]
    return lst
lst = eval(input())
n = 1  # set n to the desired value
result = swap_nth_values(lst, n)
print(result)

[1, 0, 3, 2, 5, 4]
[0, 3, 2, 5, 4, 1]

In [ ]:
def swap_nth_values(lst, n):
    for i in range(0, len(lst)-1, n):
        lst[i], lst[i+1] = lst[i+1], lst[i]
    return lst
lst = [1, 0, 3, 2, 5, 4]
n = 1  # set n to the desired value
result = swap_nth_values(lst, n)
print(result)  # prints [0, 1, 2, 3, 4, 5]

[0, 3, 2, 5, 4, 1]

In [ ]:
def swap_n_values(lst, n):
    for i in range(0, len(lst)-1, n):
        lst[i], lst[i+1] = lst[i+1], lst[i]
    return lst

# Example usage
lst = [1, 0, 3, 2, 5, 4]
n = 2
result = swap_n_values(lst, n)
print(result)  # Output: [0, 1, 2, 3, 4, 5]

[0, 1, 2, 3, 4, 5]

In [ ]:
def list_difference(list1, list2):
    return list(set(list1) - set(list2))

L1 = eval(input())
L2 = eval(input())
result = list_difference(L1, L2)
print(result)

["red", "orange", "green", "blue", "white"]
["black", "yellow", "green", "blue"]
['white', 'red', 'orange']

In [ ]:
def list_difference(list1, list2):
    diff1 = list(set(list1) - set(list2))
    diff2 = list(set(list2) - set(list1))
    return diff1, diff2

# Example usage
L1 = ["red", "orange", "green", "blue", "white"]
L2 = ["black", "yellow", "green", "blue"]
result1, result2 = list_difference(L1, L2)
print(f"L1-L2= {result1}")  # Output: L1-L2= ['orange', 'red', 'white']
print(f"L2-L1= {result2}")  # Output: L2-L1= ['yellow', 'black']

L1-L2= ['white', 'red', 'orange']
L2-L1= ['black', 'yellow']

In [ ]:
def list_difference(list1, list2):
    diff1 = list(set(list1) - set(list2))
    diff2 = list(set(list2) - set(list1))
    return diff1, diff2

# Example usage
L1 = ["red", "orange", "green", "blue", "white"]
L2 = ["black", "yellow", "green", "blue"]
result1, result2 = list_difference(L1, L2)
print(f"L1-L2= {result1}")  # Output: L1-L2= ['orange', 'red', 'white']
print(f"L2-L1= {result2}")  # Output: L2-L1= ['yellow', 'black']

L1-L2= ['white', 'red', 'orange']
L2-L1= ['black', 'yellow']

In [ ]:
def list_difference(list1, list2):
    diff1 = list(set(list1) - set(list2))
    diff2 = list(set(list2) - set(list1))
    return diff1, diff2

# Example usage
L1 =eval(input())
L2 = eval(input())
result1, result2 = list_difference(L1, L2)
print(f"L1-L2= {result1}")  
print(f"L2-L1= {result2}")

["red", "orange", "green", "blue", "white"]
["black", "yellow", "green", "blue"]
L1-L2= ['white', 'red', 'orange']
L2-L1= ['black', 'yellow']

In [ ]:
def list_difference(list1, list2):
    diff1 = list(set(list1) - set(list2))
    diff2 = list(set(list2) - set(list1))
    return diff1, diff2

# Example usage
L1 = ["red", "orange", "green", "blue", "white"]
L2 = ["black", "yellow", "green", "blue"]
result1, result2 = list_difference(L1, L2)
print(f"L1-L2= {result1}")  # Output: L1-L2= ['orange', 'red', 'white']
print(f"L2-L1= {result2}")  # Output: L2-L1= ['black', 'yellow']

L1-L2= ['white', 'red', 'orange']
L2-L1= ['black', 'yellow']

In [ ]:
def list_difference(list1, list2):
    diff1 = list(set(list1) - set(list2))
    diff2 = list(set(list2) - set(list1))
    return diff1, diff2

# Example usage
L1 = ["red", "orange", "green", "blue", "white"]
L2 = ["black", "yellow", "green", "blue"]
result1, result2 = list_difference(L1, L2)
print(f"L1-L2= {result1}")  # Output: L1-L2= ['orange', 'red', 'white']
print(f"L2-L1= {result2}")  # Output: L2-L1= ['black', 'yellow']

L1-L2= ['white', 'red', 'orange']
L2-L1= ['black', 'yellow']

In [ ]:
def list_difference(list1, list2):
    diff1 = [item for item in list1 if item not in list2]
    diff2 = [item for item in list2 if item not in list1]
    return diff1, diff2

# Example usage
L1 = ["red", "orange", "green", "blue", "white"]
L2 = ["black", "yellow", "green", "blue"]
result1, result2 = list_difference(L1, L2)
print(f"L1-L2= {result1}")  # Output: L1-L2= ['orange', 'red', 'white']
print(f"L2-L1= {result2}")  # Output: L2-L1= ['black', 'yellow']

L1-L2= ['red', 'orange', 'white']
L2-L1= ['black', 'yellow']

In [ ]:
def list_difference(list1, list2):
    diff1 = [item for item in list1 if item not in list2]
    diff2 = [item for item in list2 if item not in list1]
    return diff1, diff2

# Example usage
L1 = ["red", "orange", "green", "blue", "white"]
L2 = ["black", "yellow", "green", "blue"]
result1, result2 = list_difference(L1, L2)
print(f"L1-L2= {sorted(result1)}")  # Output: L1-L2= ['orange', 'red', 'white']
print(f"L2-L1= {sorted(result2)}")  # Output: L2-L1= ['black', 'yellow']

L1-L2= ['orange', 'red', 'white']
L2-L1= ['black', 'yellow']

In [ ]:
def common_items(list1, list2):
    return list(set(list1) & set(list2))

# Example usage
L1 = ["Red", "Green", "Orange", "White"]
L2 = ["Black", "Green", "White", "Pink"]
result = common_items(L1, L2)
print(result)  # Output: ['Green', 'White']

['Green', 'White']

In [ ]:
def common_items(list1, list2):
    return list(set(list1) & set(list2))

# Example usage
L1 = eval(input())
L2 =eval(input())
result = common_items(L1, L2)
print(result)

["Red", "Green", "Orange", "White"]
["Black", "Green", "White", "Pink"]
['Green', 'White']

In [ ]:
def find_numbers(lst):
    positives = [n for n in lst if n > 0]
    negatives = [n for n in lst if n < 0]
    return max(negatives, default=0), min(positives, default=0)

# Example usage
L = [-12, -6, 300, -40, 2, 2, 3, 57, -50, -22, 12, 40, 9, 11, 18]
result = find_numbers(L)
print(f"Largest negative and smallest positive numbers (or 0 if none) of the said list: {result}")

Largest negative and smallest positive numbers (or 0 if none) of the said list: (-6, 2)

In [ ]:
def find_numbers(lst):
    positives = [n for n in lst if n > 0]
    negatives = [n for n in lst if n < 0]
    return [max(negatives, default=0), min(positives, default=0)]

# Example usage
L = [-12, -6, 300, -40, 2, 2, 3, 57, -50, -22, 12, 40, 9, 11, 18]
result = find_numbers(L)
print(f"Largest negative and smallest positive numbers (or 0 if none) of the said list: {result}")

Largest negative and smallest positive numbers (or 0 if none) of the said list: [-6, 2]

In [ ]:
def find_numbers(lst):
    positives = [n for n in lst if n > 0]
    negatives = [n for n in lst if n < 0]
    return [max(negatives, default=0), min(positives, default=0)]

# Example usage
L = eval(input())
result = find_numbers(L)
print(f"Largest negative and smallest positive numbers (or 0 if none) of the said list: ")
print(result)

[-12, -6, 300, -40, 2, 2, 3, 57, -50, -22, 12, 40, 9, 11, 18]
Largest negative and smallest positive numbers (or 0 if none) of the said list:
[-6, 2]

In [ ]:
def is_all_odd(num):
    """Returns True if all digits in a number are odd, False otherwise"""
    digits = [int(d) for d in str(num)]
    return all(d % 2 != 0 for d in digits)

def find_odd_sublist(lst):
    """Returns a sublist of numbers with only odd digits in increasing order"""
    odd_nums = [n for n in lst if is_all_odd(n)]
    return sorted(odd_nums)

# Example usage
L = [1, 3, 79, 10, 4, 2, 39]
result = find_odd_sublist(L)
print("Sublist of numbers of the said list with only odd digits in increasing order:")
print(result)

Sublist of numbers of the said list with only odd digits in increasing order:
[1, 3, 39, 79]

In [ ]:
def gcd(a, b):
    if b == 0:
        return a
    else:
        return gcd(b, a % b)

num1 = int(input())
num2 = int(input())

result = gcd(num1, num2)

print("Greatest common divisor of {} and {} is: {}".format(num1, num2, result))

12
14
Greatest common divisor of 12 and 14 is: 2

In [ ]:
1

1

In [ ]:
def largest_prime_factor(n):
    i = 2
    while i <= n / i:
        if n % i == 0:
            n /= i
        else:
            i += 1
    return int(n)

num = int(input())
largest_factor = largest_prime_factor(num)
print(largest_factor)

Enter a number: 330
11

In [3]:
g='aabbcccdffghhi'
last_repeated_letter = ''
new_g = ''
order=len(g)-1
for i in range(order, -1, -1):
    if g[i] != last_repeated_letter:
        new_g = '#' + new_g
        last_repeated_letter = g[i]
    else:
        new_g = g[i] + new_g

print("g =", new_g)

g = a#b#cc##f##h##

In [4]:
g = 'aabbcccdffghhi'
last_repeated_letter = ''
new_g = ''
i = len(g) - 1
while i >= 0:
    if g[i] != last_repeated_letter:
        new_g = '#' + new_g
        last_repeated_letter = g[i]
    else:
        if g[i] != new_g[0]:
            new_g = g[i] + new_g
    i -= 1

print("g =", new_g)

g = a#b#c##f##h##

In [7]:
g = 'aabbcccdffghhiik'
last_repeated_letter = ''
new_g = ''
i = len(g) - 1
while i >= 0:
    if g[i] != last_repeated_letter:
        new_g = '#' + new_g
        last_repeated_letter = g[i]
    else:
        if g[i] != new_g[0] and (i == 0 or g[i] != g[i-1]):
            new_g = g[i] + new_g
    i -= 1

print("g =", new_g)

g = a#b#c##f##h#i##

In [31]:
g = 'aabbcccdffghhiik'
gg=[]
for i in range(len(g)-1):
    if g[i]==g[i+1] !=g[i+2]: 
            gg.append(g[i])
            gg.append('#')
    else:
        if g[i] not in gg:
            gg.append(g[i])    
gg.append(g[-1])
new=''.join(gg)
print(new)

a#b#cc#df#gh#i#k