<a href="https://colab.research.google.com/github/Jaya9522/daily-practice/blob/main/Copy_of_Copy_of_python_important_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question-1

Write a python code to find the prime numbers between 40 t0 80 ?

In [ ]:
start=40
end=80
for i in range(start,end+1):
    for j in range(2,i):
        if(i%j)==0:
            break
    else:
        print(i,end=",")

Question-2

Python program to check if year is a leap year or not ?

In [ ]:
year=2013
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

2013 is not a leap year

Question-3

Python Program to check if a number is prime or not

In [ ]:
num=int(input())
if num>1:
    for i in range(2,num):
        if(num%i)==0:
            print(num,"is not a prime number.")
            break
    else:
        print(num,"is a prime number")
else:
    print("please enter a valid number which is any number greater than 1.")

6
6 is not a prime number.

Question-4

Python program to find the factorial of a number provided by the user ?

In [ ]:
num=int(input())
factorial=1
if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")   
else:
    for i in range(1,num+1):
       factorial=factorial*i
    print("The factorial of",num,"is",factorial)

8
The factorial of 8 is 40320

Question-5

Program to display the Fibonacci sequence up to n-th term ?

In [ ]:
nterm=int(input())
n1,n2=0,1
count=0
if nterm <= 0:
   print("Please enter a positive integer")
elif nterm == 1:
   print("Fibonacci sequence upto",nterm,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterm:
       print(n1,end=' ')
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

10
Fibonacci sequence:
0 1 1 2 3 5 8 13 21 34

Question-6

Program to check Armstrong numbers in a certain interval

In [ ]:
lower = 100
upper = 2000

for num in range(lower, upper + 1):
   order = len(str(num))
   sum = 0
   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:
       print(num,end=",")

153,370,371,407,1634,

Question-7

Python code to separate positive and negative number in a list

In [ ]:
list1 = [-3, 8, -1, 6, 9, 3, -1, -7, -5, -42, 73, 65]
positive_list = []
negative_list = []

# Separate positive and negative numbers into two separate lists
for num in list1:
    if num >= 0:
        positive_list.append(num)
    else:
        negative_list.append(num)

# Combine positive and negative lists into a single list
result_list = negative_list + positive_list
print("Combined list:", result_list)

Combined list: [-3, -1, -1, -7, -5, -42, 8, 6, 9, 3, 73, 65]

Question-8

Python code to replace nth(8th) character in a string without using replace method

In [ ]:
string="Almabetter"
index=7
new_char="T"
string=string[:index]+new_char+string[index+1:]
print(string)

AlmabetTer

Question-9

Python code to find the pair value that will give num when adding together

In [ ]:
num = 12
listt = [10, 3, 4, 7, 6, 6, 2]
pairs = set()
for i in range(len(listt)):
    
    if num - listt[i] in pairs:
        
        print("Pair found:", num - listt[i], listt[i])
    else:
    
        pairs.add(listt[i])

Pair found: 6 6
Pair found: 10 2

Question-10

Python program to find H.C.F of two numbers

In [ ]:
def compute_hcf(x, y):

# choose the smaller number
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i 
    return hcf

num1 = 54 
num2 = 24

print("The H.C.F. is", compute_hcf(num1, num2))

The H.C.F. is 6

In [ ]:
lcm=(num1*num2)//compute_hcf(num1,num2)
print(lcm)

216

Question-11

Python Program to count the number of each vowels

In [ ]:
vowels = 'aeiou'

ip_str = 'Hello, have you tried our tutorial section yet?'

# make it suitable for caseless comparisions
ip_str = ip_str.casefold()


# make a dictionary with each vowel a key and value 0
count = {}.fromkeys(vowels,0)

# count the vowels
for char in ip_str:
   if char in count:
       count[char] += 1

print(count)

{'a': 2, 'e': 5, 'i': 3, 'o': 5, 'u': 3}

Question-12

Write a Python program to add a key to a dictionary.

In [ ]:
dict1={'name': 'xyz', 'age': 27, 'salary': 50000}
dict2={'manager': 'abc'}
dict1['manager']='abc'
print(dict1)

{'name': 'xyz', 'age': 27, 'salary': 50000, 'manager': 'abc'}

Question-13

Write a Python program to add an item in a tuple.

In [ ]:
Input=('a','b','c','d') 
add=7
Input=Input+(add,)
print(Input)

('a', 'b', 'c', 'd', 7)

Question-14

Write a Python program to round every number of a given list of numbers and print the total sum multiplied by the length of the list.

In [ ]:
listt=[22.4, 4.0, -16.22, -9.10, 11.00, -12.22, 14.20, -5.20, 17.50]
round_list=[round(num) for num in listt]
length=len(round_list)
sum=0
for i in round_list:
    sum=sum+i
print(sum*length)

243

Question-15

Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '$', except the first char itself.

In [ ]:
s="python programming"
fir_s=s[0]
re_c="@"
new_s=fir_s+s[1:].replace(fir_s,re_c)
print(new_s)

python @rogramming

Question-16

Write a Python function to check whether a number is perfect or not.

In [ ]:
num=6
sum=0
for i in range(1,num):
    if num % i ==0:
        sum=sum+i
if sum == num:
    print(num,'is a perfect number')
else:
    print("false")

6 is a perfect number

Question-17

Write a Python program that accepts a string and calculate the number of digits and letters.

In [ ]:
sti=input()
digit=alphabet=0
for i in sti:
    if i.isdigit():
      digit=digit+1
    elif i.isalpha():
      alphabet=alphabet+1
    else:
      pass
print("Letters",alphabet,'Digits',digit)

89
Letters 0 Digits 2

Question-18

Write a Python program to move spaces to the front of a given string.

In [ ]:
j= "w3resource . com "
o=[i for i in j if i !=' ']
l=len(j)-len(o)
r=' '*l
re='"'+r+''.join(o)+'"'
print(re)

"   w3resource.com"

Question-19

Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [ ]:
for i in range(5):
    if i % 3 ==0 and i % 5 ==0:
        print('fizzbuzz',end=' ')
        continue
    elif i % 3 ==0:
        print('fizz',end=' ')
        continue
    elif i % 5 ==0:
        print('buzz',end=' ')
        continue 
    print(i,end=' ')

fizzbuzz 1 2 fizz 4

Question-20

python code to fond the median of a list

In [ ]:
l=[24,44,57,69,78,90,23,45,67,65]
l.sort()
n=len(l)
if n % 2 == 0:
     median = (l[n//2] + l[n//2-1])/2
else:
     median = l[n//2]
print(median)

61.0

Question-21

python programm to find the longest word in a string

In [ ]:
f="king queen knight"
d=f.split(' ')
l=0
w=""
for i in d:
    if len(i) > l:
        l=len(i)
        w=i
r=(l,i)
print(r)

(6, 'knight')

Question-22

Write a Python program to find the first non-repeating character in given string.

In [ ]:
string = "abcdaef"

# create a dictionary to store character counts
char_counts = {}

# loop through each character in the string and count its occurrences
for char in string:
    if char in char_counts:
        char_counts[char] += 1
    else:
        char_counts[char] = 1

# loop through the string again to find the first non-repeating character
for char in string:
    if char_counts[char] == 1:
        print(char)
        break
else:
    print("None")

b

Question-23

Write a Python program to construct the following pattern, using a nested for loop.

In [ ]:
n=5
# print upper half of the pattern
for i in range(1, n+1):
    for j in range(1, i+1):
        if j == i:
            print("*.", end="")
        else:
            print("*.", end="")
    print()
# print lower half of the pattern
for i in range(n-1, 0, -1):
    for j in range(1, i+1):
        if j == i:
            print("*.", end="")
        else:
            print("*.", end="")
    print()

*.
*.*.
*.*.*.
*.*.*.*.
*.*.*.*.*.
*.*.*.*.
*.*.*.
*.*.
*.

Question-24

Write a Python program to find the second most repeated word in a given string.

Input:
string= Both of these issues are fixed by postponing the evaluation of annotations. Instead of compiling code which executes expressions in annotations at their definition time, the compiler stores the annotation in a string form equivalent to the AST of the expression in question. If needed, annotations can be resolved at runtime using typing.get_type_hints(). In the common case where this is not required, the annotations are cheaper to store (since short strings are interned by the interpreter) and make startup time faster.

In [ ]:
string= 'Both of these issues are fixed by postponing the evaluation of annotations. Instead of compiling code which executes expressions in annotations at their definition time, the compiler stores the annotation in a string form equivalent to the AST of the expression in question. If needed, annotations can be resolved at runtime using typing.get_type_hints(). In the common case where this is not required, the annotations are cheaper to store (since short strings are interned by the interpreter) and make startup time faster.'

In [ ]:
from collections import Counter
words = string.split()
word_count = Counter(words)
most_common = word_count.most_common(2)
if len(most_common) == 1:
    print("There is only one word in the string.")
else:
    if most_common[0][1] == most_common[1][1]:
        print("There is no second most repeated word.")
    else:
        second_most_common = most_common[1]
        print("('{}', {})".format(second_most_common[0], second_most_common[1]))

('of', 4)

In [ ]:
lst= ['red', 'black', 'pink', 'green', 'black', 'green']
l=set(lst)
l=list(sorted(l))
l

['black', 'green', 'pink', 'red']

In [ ]:
b=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
bb=sorted(b,key=lambda x: x[-1])
bb

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
inp = "AI is going to rule the world aeiou"
cha= "aeiou"
h=''
for i in inp:
    if i not in cha:
        h=h+i
print(h)

AI s gng t rl th wrld

In [ ]:
j={'john': 170, 'kem':172, 'sam': 168, 'milli': 158}
jj=sum(j.values())
print(jj)

TypeError: ignored

In [ ]:
s1= 'abc'
s2='xyz'
st3=s2[:-1]+s1[-1]+" "+s1[:-1]+s2[-1]
st3

In [ ]:
h='The quick Brown Fox'
u=0
l=0
for i in h:
    if i.isupper():
        u=u+1
    elif i.islower():
        l=l+1
    else:
        pass
print(u)
print(l)

In [ ]:
x=2
y=7
if x==y or x+y==5 or abs(x-y)==5:
    print('true')
else:
    print('false')

In [ ]:
n=9
c,d=0,1
e=0
while e < n:
    print(c)
    nn=c+d
    c=d
    d=nn
    e=e+1

In [ ]:
k='AlmaBetter@datascience'
u=0
l=0
s=0
n=0
for i in k:
    if str(i).islower():
        l=l+1
    elif str(i).isupper():
        u=u+1
    elif str(i).isdigit():
        n=n+1
    else:
        s=s+1
print(f'({u},{l},{s},{n},)')

In [ ]:
g=input()
k=input()
if g.isdigit() and k.isdigit():
    sum=int(g)+int(k)
    print(sum)
else:
    print('ern')

In [ ]:
l=(1, 2), (2, 3), (3, 4)
ll=[list(i) for i in l]
print(ll)

In [ ]:
num=int(input())
if num>1:
    for i in range(2,num):
        if(num%i)==0:
            print(num,"is not a prime number.")
            break
    else:
        print(num,"is a prime number")
else:
    print("please enter a valid number which is any number greater than 1.")

In [ ]:
num1=2
num2=10
c=[]
for num in range(num1,num2):
    for i in range(2,num):
       if num % i == 0:
        break 
    else:
        c.append(num)
print(len(c))

In [ ]:
l="112344565"
s=[]
m=[]
d={}
for i in l:
    d[i]=d.get(i,0)+1
for i in d:
    if d[i]==1:
        s.append(i)
    else:
        m.append(i)
print(s,m)

In [ ]:
b="apple"
r=[]
for i in b:
    if not r or i != r[-1]:
        r.append(i)
print(''.join(r))

In [ ]:
Input= {'name': 'xyz', 'age': 27, 'salary': 50000, 'manager': 'xyz'}
n={}
for k,v in Input.items():
    if v not in n.values():
        n[k]=v
print(n)

In [ ]:
m="Python"
s='P'
if m[0]==s[0]:
    print(True)
else:
    print(False)

In [ ]:
n=330
i=2
lpf=1
while i <= n/i:
    if n % i ==0:
        n//=i
        lpf=i
    else:
        i +=1   
if n > 1 and n > lpf:
    lpf=n
print(lpf)

In [ ]:
n=['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']
s='a'
k=[]
for i in n:
    if i[0]==s:
        k.append(i)
print(k)

In [ ]:
h=[-12, -6, 300, -40, 2, 2, 3, 57, -50, -22, 12, 40, 9, 11, 18]
h=sorted(h)
p=[i for i in h if i >0]
n=[i for i in h if i <0]
print('[',max(n),min(p),']')

In [ ]:
l1 = ["Red", "Green", "Orange", "White"]
l2 = ["Black", "Green", "White", "Pink"]
print(set(l1) & set(l2))

In [ ]:
l1=["Red", "Green", "Orange", "White"]

l2=["Black", "Green", "White", "Pink"]
print(set(l1) & set(l2))

In [ ]:
x= [(4, 1), (1, 2), (6, 0)]
x.sort(key=lambda t:t[-1])  
s=x[0] 
print(s)

In [ ]:
g="Thequickbrownfoxjumpsoverthelazydog"
g=g.lower()
gg='abcdefghijklmnopqrstuvwxyz'
for i in g:
    if i in gg:
        print(True)
        break
    else:
        print(False)

In [ ]:
c="Hello World"
c=c.split(' ')
for i in c:
    d=c[1]+" "+c[0]
d

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

def next_prime(n):
    next_num = n + 1
    while not is_prime(next_num):
        next_num += 1
    return next_num

# example usage
n = 48
next_prime_num = next_prime(n)
print(f"The next prime number of {n} is: {next_prime_num}")

In [ ]:
def isprime(num):
   for i in range(2,num):
      if num % i == 0:
        return False
   return True 
def nprime(num):
    n_p=num+1
    while not isprime(n_p):
        n_p=n_p+1
    return n_p
num =48
print(nprime(num))

In [ ]:
lst=[1, 0, 3, 2, 5, 4]
for i in range(0, len(lst)-1, 2):
        lst[i], lst[i+1] = lst[i+1], lst[i]
print(lst)

In [ ]:
n=81
a=3
x=0
while n % a ==0:
    x=x+1
    n//=a
if n == 1:
    print(x)
else:
    print(-1)

4

In [ ]:
b=[1, 2, -8, 0]
max(b)

In [ ]:
string='aaabbbcccccd'
listt=[]
for i in range(0,len(string)-1):
    if string[i]==string[i+1]:
        listt.append(string[i])
    else:
        pass
print(list(set(listt)))

['a', 'b', 'c']

In [ ]:
x=25
y=45
def hcf(x,y):
    listt=[]
    if x > y:
        smaller=y
    else:
        smaller=x    
    for i in range(2,smaller+1):
        if x%i==0 and y%i==0:
            listt.append(i) 
    if len(listt) !=0:
        result=max(listt)
    else:
        result=1
    return result       

def lcm(x,y):
    return (x*y)//hcf(x,y)

In [ ]:
print(hcf(50,hcf(25,45)))

In [ ]:
print(lcm(100,lcm(25,45)))

In [ ]:
tup=('a','b','c','d',7)
tup=tup+(8,)
print(tup)

In [ ]:
tupp=('a', 'b', 'c', 'd', 7, 8)
tupp=list(tupp)
tupp.remove(7)
print(tuple(tupp))

In [ ]:
hage=15
if hage<0:
    print("enter positive number")
elif hage<=2:
    dage=10.5*hage
else:
    dage=(10.5*2)+((hage-2)*4) 
print(int(dage))

In [ ]:
P=10000 
r=3.5
t=7
n=1
FV =P*(1+(r/100))**7
print(round(FV,2))

In [ ]:
SI=P*(1+((r/100)*t))
print(round(SI,2))

In [ ]:
if FV > SI:
    print(f"compound interest is better by {FV - SI:.2f} amount") 
else:
    print(f"simple interest is better by {SI - FV:.2f} amount")

In [ ]:
base=4
Altitude=3
hypotenuse=((base**2)+(Altitude**2))**0.5
print(int(hypotenuse))

In [ ]:
listt=[22.4, 4.0, -16.22, -9.10, 11.00, -12.22, 14.20, -5.20, 17.50]
listt=[round(i) for i in listt]
len=len(listt)
summ=sum(listt)
print(summ*len)

243

In [ ]:
import numpy as np
random_numbers = np.random.uniform(-50, 50, 15)
random_numbers_rounded = np.round(random_numbers,2)
listtt=list(random_numbers_rounded)
print(listtt)

[22.87, -21.78, -20.92, -42.88, 28.6, -25.02, -37.88, -33.08, 34.32, -13.1, -2.63, 33.54, 21.86, 6.95, -23.65]

In [ ]:
string='restartryurrtb'
s=string[0]+string[1:].replace(string[0],'$')
print(s)

resta$t$yu$$tb

In [ ]:
string='jayshreeram'
new_c='@'
a=string[:3]+new_c+string[4:]
print(a)

jay@hreeram

In [ ]:
g = 'aabbcccdffghhiik'
gg=[]
for i in range(len(g)-1):
    if g[i]==g[i+1] !=g[i+2]: 
            gg.append(g[i])
            gg.append('#')
    else:
        if g[i] not in gg:
            gg.append(g[i])    
gg.append(g[-1])
new=''.join(gg)
print(new)

In [ ]:
a#b#cc#df#gh#i#k

In [ ]:
num=496
l=[]
for i in range(1,num):
    if num%i==0:
        l.append(i)
summ=sum(l)
if num==summ:
    print(f'{num} is a perfect number')
else:
    print(f'{num} is not a perfect number')

496 is a perfect number

In [ ]:
di={1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60} 
va=5
if va in di.keys():
    print('present')
else:
    print('not present')

present

In [ ]:
di={1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60} 
va=50
if va in di.values():
    print('present')
else:
    print('not present')

present

In [ ]:
value='rock mountain hill'
vla=value.split(' ')
check='peak'
if check in vla:
    print(True)
else:
    print(False)

False

In [ ]:
num=7
for i in range(1,num+1):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777

In [ ]:
feet=5
inch=3
cm=(feet*30.48)+(inch*2.54)
print(round(cm,1))

160.0

In [ ]:
tup=('e','x','e','r','c','i','s','e')
string=''.join(tup)
print(string)

exercise

In [ ]:
string='python'
tuup=tuple(string)
print(tuup)

('p', 'y', 't', 'h', 'o', 'n')

In [ ]:
string='program@2022'
s=0
d=0
for i in string:
    if i.isdigit():
        d=d+1
    elif i.isalpha():
        s=s+1
    else:
        pass
print(f'numbers {d} and alphabetes {s}')

numbers 4 and alphabetes 7

In [ ]:
listt=[1, 2, 3, 4, 5, 6, 7, 8, 9]
even=0
odd=0
for i in listt:
    if i%2==0:
        even=even+1
    else:
        odd=odd+1
print(f'even {even} odd {odd}')

even 4 odd 5

In [ ]:
listt=[2,3, 4, 5, 6, 7, 8, 9, 11, 13,10]
notprime=0
prime=0
for i in listt:
    for j in range(2,i):
        if (i%j)==0:
            notprime=notprime+1
            break
    else:
        prime=prime+1
print(f'prime {prime} not prime {notprime}')

prime 6 not prime 5

In [ ]:
sti='google.com'
di={}
unid=set(sti)
for i in unid:
    di[i]=sti.count(i)
print(di)

{'o': 3, 'l': 1, '.': 1, 'e': 1, 'g': 2, 'c': 1, 'm': 1}

In [ ]:
sti='google.com'
dii={}
for i in sti:
    dii[i]=sti.count(i)
print(dii)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
l=['abc', 'xyz', 'aba', '1221']
count=0
for i in l:
    if len(i)>2 and i[0]==i[-1]:
        count+=1
print(count)

2

In [ ]:
string= 'the quick brown fox jumps over the lazy dog'
string=string.split(' ')
d={}
for i in string:
    d[i]=string.count(i)
print(d)

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 1}

In [ ]:
j= [1,2,3,3,3,3,4,5]
jj=[]
for i in j:
    if i not in jj:
        jj.append(i)
print(jj)

[1, 2, 3, 4, 5]

In [ ]:
n=4
squares_dict = {x: (lambda x: x * x)(x) for x in range(1, n + 1)}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
n=4
sd={}
for i in range(1,n+1):
    sd[i]=i*i*i
print(sd)

{1: 1, 2: 8, 3: 27, 4: 64}

In [ ]:
k='[[]]'
j='python'
kk=len(k)//2

In [ ]:
kkk=k[:2]+j+k[2:]
print(kkk)

[[python]]

In [ ]:
l=[1,2,3,4]
ll=[]
for i in l:
    ll.append('emp'+str(i))
print(ll)

['emp1', 'emp2', 'emp3', 'emp4']

In [ ]:
d = {'x': 10, 'y': 20, 'z': 30}
for i,j in d.items():
    print(i,'=>',j,end=' ')

x => 10 y => 20 z => 30

In [ ]:
l1=[1,2,3,4]
l2=[1,4,9,16]
m=dict(zip(l1,l2))
print(m)

{1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
d1 = {'a': 100, 'b': 200} 
d2 = {'x': 300, 'y': 200}
d3=d1.copy()
d3.update(d2)
print(d3)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [ ]:
d1 = ['a',100,'b',200] 
d2 = ['x',300,'y',200]
d3=d1.copy()+d2
print(d3)

['a', 100, 'b', 200, 'x', 300, 'y', 200]

In [ ]:
v=[3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]
z=[]
nz=[]
for i in v:
    if i ==0:
        z.append(i)
    else:
        nz.append(i)  
print(nz+z)

[3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
m=[-1,0,4,6,-58,-24,85,64,-36,95,-29,0,56,-29,9,0,4,56]
z=[]
n=[]
p=[]
for i in m:
    if i<0:
        n.append(i)
    elif i==0:
        z.append(i)    
    else:
        p.append(i)
print(n+z+p)

[-1, -58, -24, -36, -29, -29, 0, 0, 0, 4, 6, 85, 64, 95, 56, 9, 4, 56]

In [ ]:
s="w3resource . com "
ss=''
sss=''
for i in s:
    if i !=' ':
        ss=ss+i
    else:
        sss=sss+i    
print(f'"{sss+ss}"')

"   w3resource.com"

In [ ]:
print(f'"{ss+sss}"')

"w3resource.com   "

In [ ]:
o='jaya'
if len(o)>3:
    if o[-3:]=='ing':
        o=o+'ly'
    else:
        o=o+'ing'
else:
    o=o
print(o)

jayaing

In [ ]:
strr='programming'
d={}
for i in strr:
    d[i]=strr.count(i)
print(d)

{'p': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}

In [ ]:
str1='american express'
s='e'
ss=''
for i in str1:
    if i==s:
        ss=ss+i
    else:
        pass
print(ss)

eee

In [ ]:
start=500
end=900
n=[]
for i in range(start,end+1):
    if i%5==0 and i%7==0:
        n.append(str(i))
print(','.join(n))

525,560,595,630,665,700,735,770,805,840,875

In [ ]:
g='abc'
n=2
print(g*n)

abcabc

In [ ]:
n=5
for i in range(n):
    if i%3==0 and i%5==0:
        print("fizzbuzz",end=' ')
        continue
    elif i % 3 == 0:
            print("fizz",end=' ')
            continue
    elif i % 5 == 0:
            print("buzz",end=' ')
            continue
    print(i,end=' ')

fizzbuzz 1 2 fizz 4

In [ ]:
str2='buzz words'
v='aeiouAEIOU'
j=[]
for i in str2:
    if i in v:
        j.append(i)
h=len(j)
print(h,j)

2 ['u', 'o']

In [ ]:
n=[103,4935,239]
mean=sum(n)/len(n)
n.sort()
if len(n)%2 !=0:
    m=len(n)//2
    median=n[m]
    
print(median)
print(mean)

239
1759.0

In [ ]:
l=[124,785,459,389,555,490,389,568,789,290]
l.sort()
if len(l)%2 !=0:
    me=len(l)//2
    median=l[me]
else:
    m1=(len(l)//2)-1
    mm=l[m1]
    m2=m1+1
    mmm=l[m2]
    median=(mm+mmm)/2
print(median)

474.5

In [ ]:
import statistics
l=[124,785,459,389,555,490,389,568,789,290]
median=statistics.median(l)
print(median)

474.5

In [ ]:
mean=statistics.mean(l)
print(round(mean,2))

483.8

In [ ]:
mode=statistics.mode(l)
print(mode)

389

In [ ]:
dt='king queen knight'
dt=dt.split(' ')
c=[]
for i in dt:
    c.append((len(i),i))
c.sort(reverse=True)    
print(c[0])

(6, 'knight')

In [ ]:
j=[0, 12, 45, 3, 4923, 322, 105, 29, 15, 39, 55]
t=100
p=[]
for i,k in enumerate(j):
    if k < t:
        p.append(i)
print(p)

[0, 1, 2, 3, 7, 8, 9, 10]

In [ ]:
num='12234567'
if num==num[::-1]:
    print('Number is Palindrome')
else:
    print('Number is not Palindrome')

Number is not Palindrome

In [ ]:
num='abchdfrgytr'
if num==num[::-1]:
    print('Number is Palindrome')
else:
    print('Number is not Palindrome')

Number is not Palindrome

In [ ]:
n=9
if n>1:
    for i in range(2,n):
        if n%i==0:
            print('not prime')
            break
    else:
        print('prime')
else:
    print('enter number > 1')

not prime

In [ ]:
s='faabbccdde'
d={}
for i in s:
    d[i]=s.count(i)
for j,k in d.items():
    if k==1:
        print(j)
        break
else:
    print(None)

f

In [ ]:
n=9
k=[]
for i in range(n):
    if i !=3 and i !=6:
        k.append(i)
print(k)

[0, 1, 2, 4, 5, 7, 8]

In [ ]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        if i==j:
            print('*.',end='')
        else:
            print('*.',end='')   
    print()
for i in range(n-1,0,-1):
    for j in range(1,i+1):
       if i==j:
            print('*.',end='')
       else:
            print('*.',end='')   
    print()

*.
*.*.
*.*.*.
*.*.*.*.
*.*.*.*.*.
*.*.*.*.
*.*.*.
*.*.
*.

In [ ]:
string='Both of these issues are fixed by postponing the evaluation of annotations. Instead of compiling code which executes expressions in annotations at their definition time, the compiler stores the annotation in a string form equivalent to the AST of the expression in question. If needed, annotations can be resolved at runtime using typing.get_type_hints(). In the common case where this is not required, the annotations are cheaper to store (since short strings are interned by the interpreter) and make startup time faster.'
string=string.split(' ')
d={}
for i in string:
    d[i]=string.count(i)
k=sorted(d.items(),key=lambda x: x[1],reverse=True)
print(k[1])

('of', 4)

In [ ]:
lst= "red, black, pink, green, black, green"
words=lst.split(',')
uniword=sorted(set(words))
result=','.join(uniword)
print(result)

 black, green, pink,red

In [ ]:
sti="data,analysis,model,decission"
word=sti.split(',')
uw=sorted(set(word))
r=','.join(uw)
print(r)

analysis,data,decission,model

In [ ]:
listt=[[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
uni=[]
for i in listt:
    if i not in uni:
        uni.append(i)
print(uni)

[[10, 20], [40], [30, 56, 25], [33]]

In [ ]:
tup=((10,20),(40,),(30,56,25),(33,),(40,))
uni=()
for i in tup:
    if i not in uni:
        uni+=(i,)
print(uni)

((10, 20), (40,), (30, 56, 25), (33,))

In [ ]:
h='python exercises practice solution'
g=''
for i in h:
    if i not in g:
        g+=i
print(g)

python exrcisalu

In [ ]:
h=1,2,3,4,5,6,7,1,2,3,4,8,9,0
j=[]
for i in h:
   if i not in j:
       j.append(i)
print(j)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [ ]:
k= ('a', 'b', 'c', 'd', 'e', 'g','f')
k=list(k)
k.remove('f')
print(tuple(k))

('a', 'b', 'c', 'd', 'e', 'g')

In [ ]:
str1='abcd'
if len(str1)%4==0:
    print(str1[::-1])
else:
    print(str1)

dcba

In [ ]:
str1='python'
if len(str1)%4==0:
    print(str1[::-1])
else:
    print(str1)

python

In [ ]:
str2="green-red-black-white"
str2=str2.split('-')
string=sorted(set(str2))
result='-'.join(string)
print(result)

black-green-red-white

In [ ]:
num=320
factors=[]
for i in range(2,num):
    if num%i==0:
        factors.append(i)
print(min(factors))

2

In [ ]:
tlist=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
tlist.sort(key=lambda x: x[1])
print(tlist)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
l='Python Exercises'
rstr=''
for i in l:
    if i.isupper():
        rstr+=i.lower()
    else:
        rstr+=i.upper()
print(rstr)

pYTHON eXERCISES

In [ ]:
mstr='AI is going to rule the world'
sstr='aeiou'
nstr=''
for i in mstr:
    if i not in sstr:
        nstr+=i
print(nstr)

AI s gng t rl th wrld

In [ ]:
d={'john': 170, 'kem':172, 'sam': 168, 'milli': 158}
dd=[]
for i,j in d.items():
    dd.append(j)
print(sum(dd))

668

In [ ]:
string1= 'Scta'
string2= 'Daientist'
string3=string2[:2]+string1[2:]
string4=string1[:2]+string2[2:]
string3+' '+string4

'Data Scientist'

In [ ]:
b='The quick Brown Fox'
u=0
l=0
for i in b:
    if i.isupper():
        u=u+1
    elif i.islower():
        l=l+1
    else:
        pass
print(f'upper count {u} lower count {l}')

upper count 3 lower count 13

In [ ]:
n1=7
n2=3
if n1==n2 or (n1+n2)==5 or abs(n1-n2)==5:
    print(True)
else:
    print(False)

False

In [ ]:
n=10
n1=0
n2=1
c=0
if n<0:
    print('enter positive number')
elif n==1:
    print('fibbonaci sequence of 1 is',n1) 
else:
    print('fibbonaci sequesnce')
    while c<n:
        print(n1,end=' ')
        nn=n1+n2
        n1=n2
        n2=nn
        c=c+1

fibbonaci sequesnce
0 1 1 2 3 5 8 13 21 34

In [ ]:
n=10
n1=0
n2=1
c=0
if n<0:
    print('enter positive number')
elif n==1:
    print('fibbonaci sequence of 1 is',n1) 
else:
    print('fibbonaci sequesnce')
    while c<n-1:
        nn=n1+n2
        n1=n2
        n2=nn
        c=c+1 
    print(n1)

fibbonaci sequesnce
34

In [ ]:
str5='AlmaBetter@datascience'
u=0
l=0
s=0
n=0
for i in str5:
    if i.isupper():
        u+=1
    elif i.islower():
        l+=1
    elif i.isdigit():
        n+=1
    else:
        s+=1
print(f"({u},{l},{n},{s})")

(2,19,0,1)

In [ ]:
import re
password=input()
x=True
while x:
    if (len(password) < 6 or len(password) > 16):
        break
    elif not re.search('[a-z]',password):
        break
    elif not re.search('[0-9]',password):
        break
    elif not re.search('[A-Z]',password):
        break
    elif not re.search("[$#@]",password):
        break
    elif re.search("\s",password):
        break
    else:
        print("Valid Password")
        x=False
        break
if x:
    print('Not a valid password')

ind@jaya
Not a valid password

In [ ]:
t=(1, 2), (2, 3), (3, 4)
tt=[]
for i in t:
    tt.append(list(i))
print(tt)

[[1, 2], [2, 3], [3, 4]]

In [ ]:
n=10
count=0
for i in range(2,n+1):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        count+=1
print(count)

4

In [ ]:
str6='112344565'
single=[]
multi=[]
for i in str6:
    if str6.count(i)==1:
        single.append(i)
    else:
        multi.append(i)
multi=sorted(set(multi))        
print(f"({single},{multi})")

(['2', '3', '6'],['1', '4', '5'])

In [ ]:
fn=17
vn=22
if vn>fn:
    print((abs(vn-fn))*2)
else:
    print(fn-vn)

10

In [ ]:
str7='xxxxxyyyyyyz'
re=''
for i in range(len(str7)):
    if i==0 or str7[i]!=str7[i-1]:
        re+=str7[i]
print(re)

xyz

In [ ]:
d={'name': 'xyz', 'age': 27, 'salary': 50000, 'manager': 'xyz'}
dd={}
for i,j in d.items():
    if j not in dd.values():
        dd[i]=j
print(dd)

{'name': 'xyz', 'age': 27, 'salary': 50000}

In [ ]:
str1='beginning'
n=3
length=len(str1)
count=0
freq=[0]*26
left, right, distinct = 0, 0, 0
while right < length:
    if freq[ord(str1[right]) - ord('a')] == 0:
        distinct += 1
    freq[ord(str1[right]) - ord('a')] += 1
    while distinct == n:
        count += 1
        freq[ord(str1[left]) - ord('a')] -= 1  
        if freq[ord(str1[left]) - ord('a')] == 0:
            distinct -= 1 
        left += 1  
    right += 1  
print("Number of substrings with exactly", n, "distinct characters:", count)

Number of substrings with exactly 3 distinct characters: 7

In [ ]:
import datetime
today = datetime.date.today()
print(today)
print(today.day)
print(today.month)
print(today.year)
day_of_week=today.weekday()
weekday_names = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
weekday = weekday_names[day_of_week]
print(weekday)

2023-04-20
20
4
2023
Thursday

In [ ]:
m=4
n=4
mat=[]
for i in range(m):
    row = []
    for j in range(n):
        row.append(i * j)
    mat.append(row)
for row in mat:
    print(row,end=',')

[0, 0, 0, 0],[0, 1, 2, 3],[0, 2, 4, 6],[0, 3, 6, 9],

In [ ]:
n=330
fact=[]
for i in range(2,330):
    if n%i==0:
        fact.append(i)
f=[]
for j in fact:
    for k in range(2,j):
        if j%k==0:
            break
    else:
        f.append(j) 
print(max(f))

11

https://docs.google.com/spreadsheets/d/1XDLsny7iElCb1pE0_f2yGYVrlv_bnhEWZ9Pj6vfsVj4/edit#gid=0