<a href="https://colab.research.google.com/github/Jaya9522/daily-practice/blob/main/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 8.0 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=3fce20d440f1a65c1d212e8e1fc2ca97df96cfeff94a54d6ad9ec4ea644911de
  Stored in directory: /root/.cache/pip/wheels/b1/59/a0/a1a0624b5e865fd389919c1a10f53aec9b12195d6747710baf
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv("/content/drive/MyDrive/Unsupervised Machine Learning Book Recommendation System Project/Ratings.csv")

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName("pratice").getOrCreate()

In [6]:
spark

In [7]:
#read a datset in spark
df_pyspark=spark.read.csv("/content/drive/MyDrive/Unsupervised Machine Learning Book Recommendation System Project/Ratings.csv")

In [8]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string]

In [9]:
df_pyspark.show()

+-------+----------+-----------+
|    _c0|       _c1|        _c2|
+-------+----------+-----------+
|User-ID|      ISBN|Book-Rating|
| 276725|034545104X|          0|
| 276726|0155061224|          5|
| 276727|0446520802|          0|
| 276729|052165615X|          3|
| 276729|0521795028|          6|
| 276733|2080674722|          0|
| 276736|3257224281|          8|
| 276737|0600570967|          6|
| 276744|038550120X|          7|
| 276745| 342310538|         10|
| 276746|0425115801|          0|
| 276746|0449006522|          0|
| 276746|0553561618|          0|
| 276746|055356451X|          0|
| 276746|0786013990|          0|
| 276746|0786014512|          0|
| 276747|0060517794|          9|
| 276747|0451192001|          0|
| 276747|0609801279|          0|
+-------+----------+-----------+
only showing top 20 rows

In [10]:
sp=spark.read.option('header','true').csv("/content/drive/MyDrive/Unsupervised Machine Learning Book Recommendation System Project/Ratings.csv")

In [11]:
sp

DataFrame[User-ID: string, ISBN: string, Book-Rating: string]

In [12]:
sp.show()

+-------+----------+-----------+
|User-ID|      ISBN|Book-Rating|
+-------+----------+-----------+
| 276725|034545104X|          0|
| 276726|0155061224|          5|
| 276727|0446520802|          0|
| 276729|052165615X|          3|
| 276729|0521795028|          6|
| 276733|2080674722|          0|
| 276736|3257224281|          8|
| 276737|0600570967|          6|
| 276744|038550120X|          7|
| 276745| 342310538|         10|
| 276746|0425115801|          0|
| 276746|0449006522|          0|
| 276746|0553561618|          0|
| 276746|055356451X|          0|
| 276746|0786013990|          0|
| 276746|0786014512|          0|
| 276747|0060517794|          9|
| 276747|0451192001|          0|
| 276747|0609801279|          0|
| 276747|0671537458|          9|
+-------+----------+-----------+
only showing top 20 rows

In [13]:
type(sp)

pyspark.sql.dataframe.DataFrame

In [14]:
sp.head(3)

[Row(User-ID='276725', ISBN='034545104X', Book-Rating='0'),
 Row(User-ID='276726', ISBN='0155061224', Book-Rating='5'),
 Row(User-ID='276727', ISBN='0446520802', Book-Rating='0')]

In [15]:
sp.printSchema()

root
 |-- User-ID: string (nullable = true)
 |-- ISBN: string (nullable = true)
 |-- Book-Rating: string (nullable = true)

In [16]:
df=spark.read.option('header','true').csv("/content/drive/MyDrive/Unsupervised Machine Learning Book Recommendation System Project/Users.csv")

In [17]:
df.show()

+-------+--------------------+----+
|User-ID|            Location| Age|
+-------+--------------------+----+
|      1|  nyc, new york, usa|null|
|      2|stockton, califor...|18.0|
|      3|moscow, yukon ter...|null|
|      4|porto, v.n.gaia, ...|17.0|
|      5|farnborough, hant...|null|
|      6|santa monica, cal...|61.0|
|      7| washington, dc, usa|null|
|      8|timmins, ontario,...|null|
|      9|germantown, tenne...|null|
|     10|albacete, wiscons...|26.0|
|     11|melbourne, victor...|14.0|
|     12|fort bragg, calif...|null|
|     13|barcelona, barcel...|26.0|
|     14|mediapolis, iowa,...|null|
|     15|calgary, alberta,...|null|
|     16|albuquerque, new ...|null|
|     17|chesapeake, virgi...|null|
|     18|rio de janeiro, r...|25.0|
|     19|           weston, ,|14.0|
|     20|langhorne, pennsy...|19.0|
+-------+--------------------+----+
only showing top 20 rows

In [18]:
#drop the columns
#df.drop('column name')
df.na.drop().show()

+-------+--------------------+----+
|User-ID|            Location| Age|
+-------+--------------------+----+
|      2|stockton, califor...|18.0|
|      4|porto, v.n.gaia, ...|17.0|
|      6|santa monica, cal...|61.0|
|     10|albacete, wiscons...|26.0|
|     11|melbourne, victor...|14.0|
|     13|barcelona, barcel...|26.0|
|     18|rio de janeiro, r...|25.0|
|     19|           weston, ,|14.0|
|     20|langhorne, pennsy...|19.0|
|     21|ferrol / spain, a...|46.0|
|     24|cologne, nrw, ger...|19.0|
|     25|oakland, californ...|55.0|
|     27|chicago, illinois...|32.0|
|     28|freiburg, baden-w...|24.0|
|     29|cuernavaca, alaba...|19.0|
|     30|anchorage, alaska...|24.0|
|     31|shanghai, n/a, china|20.0|
|     33|costa mesa, calif...|34.0|
|     35|grafton, wisconsi...|17.0|
|     36|montreal, quebec,...|24.0|
+-------+--------------------+----+
only showing top 20 rows

In [19]:
# how=any
#it will delete the row having all the values as null
df.na.drop(how='all').show()

+-------+--------------------+----+
|User-ID|            Location| Age|
+-------+--------------------+----+
|      1|  nyc, new york, usa|null|
|      2|stockton, califor...|18.0|
|      3|moscow, yukon ter...|null|
|      4|porto, v.n.gaia, ...|17.0|
|      5|farnborough, hant...|null|
|      6|santa monica, cal...|61.0|
|      7| washington, dc, usa|null|
|      8|timmins, ontario,...|null|
|      9|germantown, tenne...|null|
|     10|albacete, wiscons...|26.0|
|     11|melbourne, victor...|14.0|
|     12|fort bragg, calif...|null|
|     13|barcelona, barcel...|26.0|
|     14|mediapolis, iowa,...|null|
|     15|calgary, alberta,...|null|
|     16|albuquerque, new ...|null|
|     17|chesapeake, virgi...|null|
|     18|rio de janeiro, r...|25.0|
|     19|           weston, ,|14.0|
|     20|langhorne, pennsy...|19.0|
+-------+--------------------+----+
only showing top 20 rows

In [20]:
# thershold=2
#atleast 2 non null values should have present in the row then it will show otherwise code will delete that row
df.na.drop(how='all',thresh=2).show()

+-------+--------------------+----+
|User-ID|            Location| Age|
+-------+--------------------+----+
|      1|  nyc, new york, usa|null|
|      2|stockton, califor...|18.0|
|      3|moscow, yukon ter...|null|
|      4|porto, v.n.gaia, ...|17.0|
|      5|farnborough, hant...|null|
|      6|santa monica, cal...|61.0|
|      7| washington, dc, usa|null|
|      8|timmins, ontario,...|null|
|      9|germantown, tenne...|null|
|     10|albacete, wiscons...|26.0|
|     11|melbourne, victor...|14.0|
|     12|fort bragg, calif...|null|
|     13|barcelona, barcel...|26.0|
|     14|mediapolis, iowa,...|null|
|     15|calgary, alberta,...|null|
|     16|albuquerque, new ...|null|
|     17|chesapeake, virgi...|null|
|     18|rio de janeiro, r...|25.0|
|     19|           weston, ,|14.0|
|     20|langhorne, pennsy...|19.0|
+-------+--------------------+----+
only showing top 20 rows

In [21]:
#subset
#you can choose in which column you want to apply code means if you apply subset=age it will show only non null values of age and theie respective row
df.na.drop(how='all',subset=['Age']).show()

+-------+--------------------+----+
|User-ID|            Location| Age|
+-------+--------------------+----+
|      2|stockton, califor...|18.0|
|      4|porto, v.n.gaia, ...|17.0|
|      6|santa monica, cal...|61.0|
|     10|albacete, wiscons...|26.0|
|     11|melbourne, victor...|14.0|
|     13|barcelona, barcel...|26.0|
|     18|rio de janeiro, r...|25.0|
|     19|           weston, ,|14.0|
|     20|langhorne, pennsy...|19.0|
|     21|ferrol / spain, a...|46.0|
|     24|cologne, nrw, ger...|19.0|
|     25|oakland, californ...|55.0|
|     27|chicago, illinois...|32.0|
|     28|freiburg, baden-w...|24.0|
|     29|cuernavaca, alaba...|19.0|
|     30|anchorage, alaska...|24.0|
|     31|shanghai, n/a, china|20.0|
|     33|costa mesa, calif...|34.0|
|     35|grafton, wisconsi...|17.0|
|     36|montreal, quebec,...|24.0|
+-------+--------------------+----+
only showing top 20 rows

In [22]:
# filling the missing value
df.na.fill('missing value').show()

+-------+--------------------+-------------+
|User-ID|            Location|          Age|
+-------+--------------------+-------------+
|      1|  nyc, new york, usa|missing value|
|      2|stockton, califor...|         18.0|
|      3|moscow, yukon ter...|missing value|
|      4|porto, v.n.gaia, ...|         17.0|
|      5|farnborough, hant...|missing value|
|      6|santa monica, cal...|         61.0|
|      7| washington, dc, usa|missing value|
|      8|timmins, ontario,...|missing value|
|      9|germantown, tenne...|missing value|
|     10|albacete, wiscons...|         26.0|
|     11|melbourne, victor...|         14.0|
|     12|fort bragg, calif...|missing value|
|     13|barcelona, barcel...|         26.0|
|     14|mediapolis, iowa,...|missing value|
|     15|calgary, alberta,...|missing value|
|     16|albuquerque, new ...|missing value|
|     17|chesapeake, virgi...|missing value|
|     18|rio de janeiro, r...|         25.0|
|     19|           weston, ,|         14.0|
|     20|langhorne, pennsy...|         19.0|
+-------+--------------------+-------------+
only showing top 20 rows

In [23]:
#applying on specified column
df.na.fill('missing values','Location').show()

+-------+--------------------+----+
|User-ID|            Location| Age|
+-------+--------------------+----+
|      1|  nyc, new york, usa|null|
|      2|stockton, califor...|18.0|
|      3|moscow, yukon ter...|null|
|      4|porto, v.n.gaia, ...|17.0|
|      5|farnborough, hant...|null|
|      6|santa monica, cal...|61.0|
|      7| washington, dc, usa|null|
|      8|timmins, ontario,...|null|
|      9|germantown, tenne...|null|
|     10|albacete, wiscons...|26.0|
|     11|melbourne, victor...|14.0|
|     12|fort bragg, calif...|null|
|     13|barcelona, barcel...|26.0|
|     14|mediapolis, iowa,...|null|
|     15|calgary, alberta,...|null|
|     16|albuquerque, new ...|null|
|     17|chesapeake, virgi...|null|
|     18|rio de janeiro, r...|25.0|
|     19|           weston, ,|14.0|
|     20|langhorne, pennsy...|19.0|
+-------+--------------------+----+
only showing top 20 rows

In [24]:
#applying 2 and more columns

In [25]:
df.na.fill('missing values',['Location','Age']).show()

+-------+--------------------+--------------+
|User-ID|            Location|           Age|
+-------+--------------------+--------------+
|      1|  nyc, new york, usa|missing values|
|      2|stockton, califor...|          18.0|
|      3|moscow, yukon ter...|missing values|
|      4|porto, v.n.gaia, ...|          17.0|
|      5|farnborough, hant...|missing values|
|      6|santa monica, cal...|          61.0|
|      7| washington, dc, usa|missing values|
|      8|timmins, ontario,...|missing values|
|      9|germantown, tenne...|missing values|
|     10|albacete, wiscons...|          26.0|
|     11|melbourne, victor...|          14.0|
|     12|fort bragg, calif...|missing values|
|     13|barcelona, barcel...|          26.0|
|     14|mediapolis, iowa,...|missing values|
|     15|calgary, alberta,...|missing values|
|     16|albuquerque, new ...|missing values|
|     17|chesapeake, virgi...|missing values|
|     18|rio de janeiro, r...|          25.0|
|     19|           weston, ,|          14.0|
|     20|langhorne, pennsy...|          19.0|
+-------+--------------------+--------------+
only showing top 20 rows

In [26]:
#replacing the null value with mean or median
df.show()

+-------+--------------------+----+
|User-ID|            Location| Age|
+-------+--------------------+----+
|      1|  nyc, new york, usa|null|
|      2|stockton, califor...|18.0|
|      3|moscow, yukon ter...|null|
|      4|porto, v.n.gaia, ...|17.0|
|      5|farnborough, hant...|null|
|      6|santa monica, cal...|61.0|
|      7| washington, dc, usa|null|
|      8|timmins, ontario,...|null|
|      9|germantown, tenne...|null|
|     10|albacete, wiscons...|26.0|
|     11|melbourne, victor...|14.0|
|     12|fort bragg, calif...|null|
|     13|barcelona, barcel...|26.0|
|     14|mediapolis, iowa,...|null|
|     15|calgary, alberta,...|null|
|     16|albuquerque, new ...|null|
|     17|chesapeake, virgi...|null|
|     18|rio de janeiro, r...|25.0|
|     19|           weston, ,|14.0|
|     20|langhorne, pennsy...|19.0|
+-------+--------------------+----+
only showing top 20 rows

In [27]:
df

DataFrame[User-ID: string, Location: string, Age: string]

In [28]:
from pyspark.sql.functions import col

In [29]:
# assume your dataframe is called 'df'
df = df.withColumn("Age", col("Age").cast("integer"))

In [30]:
df

DataFrame[User-ID: string, Location: string, Age: int]

In [31]:
from pyspark.sql.functions import mean
from pyspark.ml.feature import Imputer

In [32]:
imputer = Imputer(
    inputCols=['Age'],
    outputCols=['{}_imputed'.format(c) for c in ['Age']]
).setStrategy('mean')

In [33]:
imputer.fit(df).transform(df).show()

+-------+--------------------+----+-----------+
|User-ID|            Location| Age|Age_imputed|
+-------+--------------------+----+-----------+
|      1|  nyc, new york, usa|null|         34|
|      2|stockton, califor...|  18|         18|
|      3|moscow, yukon ter...|null|         34|
|      4|porto, v.n.gaia, ...|  17|         17|
|      5|farnborough, hant...|null|         34|
|      6|santa monica, cal...|  61|         61|
|      7| washington, dc, usa|null|         34|
|      8|timmins, ontario,...|null|         34|
|      9|germantown, tenne...|null|         34|
|     10|albacete, wiscons...|  26|         26|
|     11|melbourne, victor...|  14|         14|
|     12|fort bragg, calif...|null|         34|
|     13|barcelona, barcel...|  26|         26|
|     14|mediapolis, iowa,...|null|         34|
|     15|calgary, alberta,...|null|         34|
|     16|albuquerque, new ...|null|         34|
|     17|chesapeake, virgi...|null|         34|
|     18|rio de janeiro, r...|  25|         25|
|     19|           weston, ,|  14|         14|
|     20|langhorne, pennsy...|  19|         19|
+-------+--------------------+----+-----------+
only showing top 20 rows

In [34]:
#filter operation
#age of the people less than 20
df.filter('Age<20').show()

+-------+--------------------+---+
|User-ID|            Location|Age|
+-------+--------------------+---+
|      2|stockton, califor...| 18|
|      4|porto, v.n.gaia, ...| 17|
|     11|melbourne, victor...| 14|
|     19|           weston, ,| 14|
|     20|langhorne, pennsy...| 19|
|     24|cologne, nrw, ger...| 19|
|     29|cuernavaca, alaba...| 19|
|     35|grafton, wisconsi...| 17|
|     41|santee, californi...| 14|
|     42|appleton, wiscons...| 17|
|     50|london, england, ...| 17|
|     78|oakland, californ...| 18|
|     98|pukekohe, aucklan...| 19|
|    120|villeneuve d`ascq...| 13|
|    185|baton rouge, loui...| 17|
|    188|portland, oregon,...| 17|
|    204| turner, oregon, usa| 15|
|    220|bogota, bogota, c...|  0|
|    232|mumbai, maharasht...| 16|
|    246|tananger, rogalan...| 16|
+-------+--------------------+---+
only showing top 20 rows

In [35]:
df.filter('Age<20').select(['Location','User-ID']).show()

+--------------------+-------+
|            Location|User-ID|
+--------------------+-------+
|stockton, califor...|      2|
|porto, v.n.gaia, ...|      4|
|melbourne, victor...|     11|
|           weston, ,|     19|
|langhorne, pennsy...|     20|
|cologne, nrw, ger...|     24|
|cuernavaca, alaba...|     29|
|grafton, wisconsi...|     35|
|santee, californi...|     41|
|appleton, wiscons...|     42|
|london, england, ...|     50|
|oakland, californ...|     78|
|pukekohe, aucklan...|     98|
|villeneuve d`ascq...|    120|
|baton rouge, loui...|    185|
|portland, oregon,...|    188|
| turner, oregon, usa|    204|
|bogota, bogota, c...|    220|
|mumbai, maharasht...|    232|
|tananger, rogalan...|    246|
+--------------------+-------+
only showing top 20 rows

In [36]:
df.filter(df['Age']<30).show()

+-------+--------------------+---+
|User-ID|            Location|Age|
+-------+--------------------+---+
|      2|stockton, califor...| 18|
|      4|porto, v.n.gaia, ...| 17|
|     10|albacete, wiscons...| 26|
|     11|melbourne, victor...| 14|
|     13|barcelona, barcel...| 26|
|     18|rio de janeiro, r...| 25|
|     19|           weston, ,| 14|
|     20|langhorne, pennsy...| 19|
|     24|cologne, nrw, ger...| 19|
|     28|freiburg, baden-w...| 24|
|     29|cuernavaca, alaba...| 19|
|     30|anchorage, alaska...| 24|
|     31|shanghai, n/a, china| 20|
|     35|grafton, wisconsi...| 17|
|     36|montreal, quebec,...| 24|
|     37|san sebastian, n/...| 23|
|     41|santee, californi...| 14|
|     42|appleton, wiscons...| 17|
|     47|vicenza, veneto, ...| 21|
|     50|london, england, ...| 17|
+-------+--------------------+---+
only showing top 20 rows

In [37]:
df.filter((df['Age']<13) & (df['Age']>10)).show()

+-------+--------------------+---+
|User-ID|            Location|Age|
+-------+--------------------+---+
|   1384| coburg, oregon, usa| 12|
|   3554|hackettstown, new...| 11|
|   3792|sacramento, calif...| 12|
|   3813|lawrencetown, nov...| 12|
|   4876|macamic, quebec, ...| 11|
|   5427|leicestershire, f...| 11|
|   5820|bismarck, north d...| 12|
|   6019|forster, new sout...| 12|
|   6205|dallas, georgia, usa| 12|
|   7072|bismarck, north d...| 11|
|   7130|carrboro, north d...| 11|
|   7781|alpharetta, georg...| 12|
|   8929|araras, brazil, b...| 11|
|   9656| houston, texas, usa| 11|
|   9889|moorcroft, wyomin...| 12|
|  10696|hudson falls, new...| 11|
|  10784|sackville, nova s...| 12|
|  12162|chicago, illinois...| 12|
|  12928|emonton, alberta,...| 11|
|  15315|faro, algarve, po...| 11|
+-------+--------------------+---+
only showing top 20 rows

In [38]:
df.filter((df['Age']<30) | (df['Age']> 40)).show()

+-------+--------------------+---+
|User-ID|            Location|Age|
+-------+--------------------+---+
|      2|stockton, califor...| 18|
|      4|porto, v.n.gaia, ...| 17|
|      6|santa monica, cal...| 61|
|     10|albacete, wiscons...| 26|
|     11|melbourne, victor...| 14|
|     13|barcelona, barcel...| 26|
|     18|rio de janeiro, r...| 25|
|     19|           weston, ,| 14|
|     20|langhorne, pennsy...| 19|
|     21|ferrol / spain, a...| 46|
|     24|cologne, nrw, ger...| 19|
|     25|oakland, californ...| 55|
|     28|freiburg, baden-w...| 24|
|     29|cuernavaca, alaba...| 19|
|     30|anchorage, alaska...| 24|
|     31|shanghai, n/a, china| 20|
|     35|grafton, wisconsi...| 17|
|     36|montreal, quebec,...| 24|
|     37|san sebastian, n/...| 23|
|     41|santee, californi...| 14|
+-------+--------------------+---+
only showing top 20 rows

In [39]:
df1=spark.read.csv('/content/drive/MyDrive/Unsupervised Machine Learning Book Recommendation System Project/Ratings.csv',header=True,inferSchema=True)

In [40]:
df1.show()

+-------+----------+-----------+
|User-ID|      ISBN|Book-Rating|
+-------+----------+-----------+
| 276725|034545104X|          0|
| 276726|0155061224|          5|
| 276727|0446520802|          0|
| 276729|052165615X|          3|
| 276729|0521795028|          6|
| 276733|2080674722|          0|
| 276736|3257224281|          8|
| 276737|0600570967|          6|
| 276744|038550120X|          7|
| 276745| 342310538|         10|
| 276746|0425115801|          0|
| 276746|0449006522|          0|
| 276746|0553561618|          0|
| 276746|055356451X|          0|
| 276746|0786013990|          0|
| 276746|0786014512|          0|
| 276747|0060517794|          9|
| 276747|0451192001|          0|
| 276747|0609801279|          0|
| 276747|0671537458|          9|
+-------+----------+-----------+
only showing top 20 rows

In [41]:
df1

DataFrame[User-ID: int, ISBN: string, Book-Rating: int]

In [42]:
df1.printSchema()

root
 |-- User-ID: integer (nullable = true)
 |-- ISBN: string (nullable = true)
 |-- Book-Rating: integer (nullable = true)

In [43]:
# group by
df1.groupBy('Book-Rating').sum().show()

+-----------+------------+----------------+
|Book-Rating|sum(User-ID)|sum(Book-Rating)|
+-----------+------------+----------------+
|          1|   224811345|            1770|
|          6|  4987168891|          221544|
|          3|   827871414|           17988|
|          5|  7032037251|          254870|
|          9|  9138718934|          607869|
|          4|  1229684772|           35616|
|          8| 14046562088|          829888|
|          7| 10281355917|          535199|
|         10| 10593919352|          786100|
|          2|   382398767|            5518|
|          0|102668940657|               0|
+-----------+------------+----------------+

In [44]:
df2=spark.read.csv('/content/drive/MyDrive/pyspark1.xlsx - Sheet1.csv',header=True,inferSchema=True)
df2.show()

+-----+------------+------+
| NAME|  DEPARTMENT|SALARY|
+-----+------------+------+
| jaya|data science|  5000|
| abhi|        math|  6000|
|lishu|     english|  4000|
| linu|   data engg|  5000|
|mummy|     science|  3000|
| papa|     playing|  2000|
|nicky|     drawing|  1000|
| jemu|     drawing|  1000|
| limo|        math|  6000|
| anji|   data engg|  5000|
| akki|     science|  3000|
|lishu|     science|  3000|
| linu|     science|  3000|
| anji|        math|  6000|
| akki|     playing|  2000|
| anji|     drawing|  1000|
| akki|        math|  6000|
|lishu|data science|  5000|
| linu|        null|  null|
+-----+------------+------+

In [45]:
# GROUP TO FIND MAXIMUM SALARY
df2.groupBy('NAME').sum().show()

+-----+-----------+
| NAME|sum(SALARY)|
+-----+-----------+
| papa|       2000|
| jemu|       1000|
|mummy|       3000|
| akki|      11000|
| abhi|       6000|
| jaya|       5000|
| linu|       8000|
|lishu|      12000|
| limo|       6000|
|nicky|       1000|
| anji|      12000|
+-----+-----------+

In [46]:
df2.groupBy('DEPARTMENT').sum().show()

+------------+-----------+
|  DEPARTMENT|sum(SALARY)|
+------------+-----------+
|     drawing|       3000|
|        null|       null|
|data science|      10000|
|     playing|       4000|
|   data engg|      10000|
|     science|      12000|
|     english|       4000|
|        math|      24000|
+------------+-----------+

In [49]:
from pyspark.sql.functions import desc

In [50]:
df2.groupBy('DEPARTMENT').sum('SALARY').orderBy(desc('sum(SALARY)')).show()

+------------+-----------+
|  DEPARTMENT|sum(SALARY)|
+------------+-----------+
|        math|      24000|
|     science|      12000|
|data science|      10000|
|   data engg|      10000|
|     playing|       4000|
|     english|       4000|
|     drawing|       3000|
|        null|       null|
+------------+-----------+

In [51]:
df2.groupBy('DEPARTMENT').sum('SALARY') \
   .orderBy(desc('sum(SALARY)')) \
   .show()

+------------+-----------+
|  DEPARTMENT|sum(SALARY)|
+------------+-----------+
|        math|      24000|
|     science|      12000|
|data science|      10000|
|   data engg|      10000|
|     playing|       4000|
|     english|       4000|
|     drawing|       3000|
|        null|       null|
+------------+-----------+

In [52]:
df2.groupBy('DEPARTMENT').mean('SALARY').orderBy(desc('avg(SALARY)')).show()

+------------+-----------+
|  DEPARTMENT|avg(SALARY)|
+------------+-----------+
|        math|     6000.0|
|data science|     5000.0|
|   data engg|     5000.0|
|     english|     4000.0|
|     science|     3000.0|
|     playing|     2000.0|
|     drawing|     1000.0|
|        null|       null|
+------------+-----------+

In [53]:
df2.groupBy('DEPARTMENT').count().show()

+------------+-----+
|  DEPARTMENT|count|
+------------+-----+
|     drawing|    3|
|        null|    1|
|data science|    2|
|     playing|    2|
|   data engg|    2|
|     science|    4|
|     english|    1|
|        math|    4|
+------------+-----+

In [54]:
df2.groupBy('DEPARTMENT').count().orderBy(desc('count')).show()

+------------+-----+
|  DEPARTMENT|count|
+------------+-----+
|     science|    4|
|        math|    4|
|     drawing|    3|
|data science|    2|
|     playing|    2|
|   data engg|    2|
|        null|    1|
|     english|    1|
+------------+-----+

In [55]:
df2.agg({'SALARY':'sum'}).show()

+-----------+
|sum(SALARY)|
+-----------+
|      67000|
+-----------+

In [56]:
df2.groupBy('NAME').max().show()

+-----+-----------+
| NAME|max(SALARY)|
+-----+-----------+
| papa|       2000|
| jemu|       1000|
|mummy|       3000|
| akki|       6000|
| abhi|       6000|
| jaya|       5000|
| linu|       5000|
|lishu|       5000|
| limo|       6000|
|nicky|       1000|
| anji|       6000|
+-----+-----------+

In [57]:
training=spark.read.csv('/content/drive/MyDrive/Book1.xlsx - Sheet1.csv',header=True,inferSchema=True)

In [58]:
training.printSchema()

root
 |-- NAME: string (nullable = true)
 |-- AGE: integer (nullable = true)
 |-- EXPERIENCE: integer (nullable = true)
 |-- SALARY: integer (nullable = true)

In [59]:
training.columns

['NAME', 'AGE', 'EXPERIENCE', 'SALARY']

In [60]:
training.show()

+------+---+----------+------+
|  NAME|AGE|EXPERIENCE|SALARY|
+------+---+----------+------+
| Krish| 31|        10| 30000|
| Sudha| 30|         8| 25000|
| Sunny| 29|         4| 20000|
|  Paul| 24|         3| 20000|
| Harsh| 21|         1| 15000|
|Subham| 23|         2| 18000|
+------+---+----------+------+

In [61]:
from pyspark.ml.feature import VectorAssembler

In [62]:
featureassembler = VectorAssembler(inputCols=['AGE', 'EXPERIENCE'], outputCol='Independent Features')

In [63]:
output=featureassembler.transform(training)

In [64]:
output.show()

+------+---+----------+------+--------------------+
|  NAME|AGE|EXPERIENCE|SALARY|Independent Features|
+------+---+----------+------+--------------------+
| Krish| 31|        10| 30000|         [31.0,10.0]|
| Sudha| 30|         8| 25000|          [30.0,8.0]|
| Sunny| 29|         4| 20000|          [29.0,4.0]|
|  Paul| 24|         3| 20000|          [24.0,3.0]|
| Harsh| 21|         1| 15000|          [21.0,1.0]|
|Subham| 23|         2| 18000|          [23.0,2.0]|
+------+---+----------+------+--------------------+

In [65]:
output.columns

['NAME', 'AGE', 'EXPERIENCE', 'SALARY', 'Independent Features']

In [66]:
final_data=output.select('Independent Features','SALARY')

In [67]:
final_data.show()

+--------------------+------+
|Independent Features|SALARY|
+--------------------+------+
|         [31.0,10.0]| 30000|
|          [30.0,8.0]| 25000|
|          [29.0,4.0]| 20000|
|          [24.0,3.0]| 20000|
|          [21.0,1.0]| 15000|
|          [23.0,2.0]| 18000|
+--------------------+------+

In [68]:
from pyspark.ml.regression import LinearRegression

In [85]:
train_data,test_data=final_data.randomSplit([0.70,0.30])

In [86]:
train_data.show()

+--------------------+------+
|Independent Features|SALARY|
+--------------------+------+
|          [21.0,1.0]| 15000|
|          [23.0,2.0]| 18000|
|          [29.0,4.0]| 20000|
|         [31.0,10.0]| 30000|
+--------------------+------+

In [87]:
test_data.show()

+--------------------+------+
|Independent Features|SALARY|
+--------------------+------+
|          [24.0,3.0]| 20000|
|          [30.0,8.0]| 25000|
+--------------------+------+

In [88]:
regressor= LinearRegression(featuresCol='Independent Features', labelCol='SALARY')

In [89]:
regressor=regressor.fit(train_data)

In [90]:
regressor.coefficients

DenseVector([-58.8235, 1666.6667])

In [91]:
regressor.intercept

15196.078431372438

In [92]:
pred_res = regressor.evaluate(test_data)

In [93]:
pred_res.predictions.show()

+--------------------+------+------------------+
|Independent Features|SALARY|        prediction|
+--------------------+------+------------------+
|          [24.0,3.0]| 20000|18784.313725490196|
|          [30.0,8.0]| 25000|26764.705882352937|
+--------------------+------+------------------+