<a href="https://colab.research.google.com/github/Jaya9522/daily-practice/blob/main/Untitled46.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
string="almabetter"
dictt={}
uni_set=set(string)
for i in uni_set:
    dictt[i]=string.count(i)

In [ ]:
uni_set=set(string)

In [ ]:
uni_set

{'a', 'b', 'e', 'l', 'm', 'r', 't'}

In [ ]:
dictt

{'b': 1, 'm': 1, 'l': 1, 'e': 2, 'r': 1, 'a': 2, 't': 2}

In [ ]:
import pandas as pd

In [ ]:
data = {'title': ['The Shawshank Redemption', 'The Godfather', 'The Dark Knight'], 'json_col': ['{"year": 1994, "director": "Frank Darabont"}', '{"year": 1972, "director": "Francis Ford Coppola"}', '{"year": 2008, "director": "Christopher Nolan"}']}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

                      title                                           json_col
0  The Shawshank Redemption       {"year": 1994, "director": "Frank Darabont"}
1             The Godfather  {"year": 1972, "director": "Francis Ford Coppo...
2           The Dark Knight    {"year": 2008, "director": "Christopher Nolan"}

In [ ]:
eval(df['json_col'][0])['year']

1994

In [ ]:
# Define a string representing a Python expression
expr = '2 + 3 * 4'

In [ ]:
result=eval(expr)

In [ ]:
result

'2 + 3 * 4'

In [2]:
ggg={'name': 'xyz', 'age': 27, 'salary': 50000}

In [3]:
ggg['manager']='abc'

In [4]:
ggg

{'name': 'xyz', 'age': 27, 'salary': 50000, 'manager': 'abc'}

In [6]:
human_age = int(input())
if human_age <= 2:
    dog_age = human_age * 10.5
else:
    dog_age = 21 + (human_age - 2) * 4
print("The dog's age in dog's years is,", dog_age)

15
The dog's age in dog's years is, 73

In [7]:
4.5**7

37366.9453125

In [11]:
(1.035**7)*10000

12722.792627665729

In [18]:
lst= eval(input())
rounded_list = [round(num) for num in num_list]

[22.4, 4.0, -16.22, -9.10, 11.00, -12.22, 14.20, -5.20, 17.50]

TypeError: ignored

In [13]:
lenn=len(lst)

In [14]:
lenn

9

In [15]:
p=sum(lst)

In [16]:
p

26.36

In [17]:
p*9

237.24

In [19]:
lst= eval(input())
rounded_list = [round(num) for num in lst]
lenn=len(lst)
p=sum(rounded_list)
q=p*lenn
print(q)

[22.4, 4.0, -16.22, -9.10, 11.00, -12.22, 14.20, -5.20, 17.50]
243

In [ ]:
string=str(input())
first_char=string[0]
output_str=first_char + string[1:].replace(first_char, $)
print(output_str)

In [ ]:
a=int(input())
for i in range (a):
    for j in range (i)

In [20]:
def perfect_number(n):
    sm = 0
    for i in range(1, n):
        if n % i == 0:
            sm += i
    return sm == n
n = int(input())
print(perfect_number(n))

6
True

In [21]:
def is_key_present(dct, val):
  if val in dct:
      print('Key is present in the dictionary')
  else:
      print('Key is not present in the dictionary')
        
d = dict(eval(input()))
val = int(input())
is_key_present(d, val)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
9
Key is not present in the dictionary

In [24]:
a=str(input())
b=set(a)
if a==b:
    print(True)
else:
    print(False)

rock mountain hill peak
False

In [25]:
def value_check(set1, value):
    return (value in set1)
    
sn = set(input().split(' '))
val = input()
print(value_check(sn, val))

rock mountain hill peak
hill
True

In [25]:
a=int(input())
for i in range(1,a+4):
    print

In [28]:
def pattern(n):
    for i in range(1,n+1):
        print(str(i)*i)
        
n = int(input())
pattern(n)

4
1
22
333
4444

In [ ]:
# your code goes here
h_ft = int(input())
h_inch = int(input())
h_inch += h_ft * 12
h_cm = round(h_inch * 2.54, 1)
print(h_cm)

In [32]:
a=int(input())
d=int(input())
b=a*30.48
c=d*2.54
print(round(b+c), 1)

5
3
160 1

In [37]:
a=tuple(input().split(","))
sting="".join(a)
print(sting)

e,x,e,r,c,i,s,e
exercise

In [34]:
def tuple_string(tup):
    string = ''.join(tup)
    return string

tup = tuple(input().split(','))
print(tuple_string(tup))

e,x,e,r,c,i,s,e
exercise

In [43]:
a=input().split('@')
b=len(a[0])
c=len(a[1])
print("Letters" ,b ,'Digits' ,c)

program@2022
Letters 7 Digits 4

In [51]:
def calcu(a):
    b=a.split('@')
    c=len(b[0])
    d=len(b[1])
    return ("letters" ,c, "digits", d)

a=input()
print(*calcu(a))

program@2022
letters 7 digits 4

In [53]:
y=(1,2,3,4)
print(*y)

1 2 3 4

In [55]:
listt = eval(input())
even_lis = []
odd_lis = []

for i in listt:
    if i % 2 == 0:
        even_lis.append(i)
    else:
        odd_lis.append(i)

print('Number of even numbers:', len(even_lis), 'Number of odd numbers:', len(odd_lis))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
Number of even numbers: 4 Number of odd numbers: 5

In [57]:

listt=eval(input())
even_lis=[]
odd_lis=[]
for i in listt:
    if i%2==0:
        even_lis.append(i)
    else:
        odd_lis.append(i)
print('Number of even numbers :' ,len(even_lis), 'Number of odd numbers :' ,len(odd_lis))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
Number of even numbers : 4 Number of odd numbers : 5

In [59]:
string=input()
uni_str=set(string)
dictt={}
for i in uni_str:
    dictt[i]=string.count(i)
print(dictt)

AlmaBetter
{'e': 2, 'B': 1, 't': 2, 'a': 1, 'A': 1, 'm': 1, 'l': 1, 'r': 1}

In [60]:
string = input("Enter a string: ")

freq = {}
for char in string:
    if char in freq:
        freq[char] += 1
    else:
        freq[char] = 1

print(freq)

Enter a string: AlmaBetter
{'A': 1, 'l': 1, 'm': 1, 'a': 1, 'B': 1, 'e': 2, 't': 2, 'r': 1}

In [62]:
lst=eval(input())
lstt=[]
for i in lst:
    if len(i) >= 2 and i[0]==i[-1]:
        lstt.append(i)
print(len(lstt))

['abc', 'xyz', 'aba', '1221']
2

In [77]:
string=input()
words=string.split()
dictt={}
for i in words:
    if i in dictt:
     dictt[i] += 1
    else:
        dictt[i]=1
print(dictt)

 the quick brown fox jumps over the lazy dog
{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 1}

In [75]:
string = input()

words = string.split()
freq = {}

for word in words:
    if word in freq:
        freq[word] += 1
    else:
        freq[word] = 1

print(freq)

 the quick brown fox jumps over the lazy dog
{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 1}

In [85]:
listt=input().split(',')
new_list=[]
for i in listt:
    if i not in new_list:
        new_list.append(i)
    else:
        pass
print(*new_list)

[1,2,3,3,3,3,4,5]
[1 2 3 4 5]

In [92]:
num=int(input())
listtt={}
for i in range(1,num+1):
     listtt[i]=i**2

print(listtt)

4
{1: 1, 2: 4, 3: 9, 4: 16}

In [93]:
def zodiac(year):
    if (year - 2000) % 12 == 0:
        sign = 'Dragon'
    elif (year - 2000) % 12 == 1:
        sign = 'Snake'
    elif (year - 2000) % 12 == 2:
        sign = 'Horse'
    elif (year - 2000) % 12 == 3:
        sign = 'sheep'
    elif (year - 2000) % 12 == 4:
        sign = 'Monkey'
    elif (year - 2000) % 12 == 5:
        sign = 'Rooster'
    elif (year - 2000) % 12 == 6:
        sign = 'Dog'
    elif (year - 2000) % 12 == 7:
        sign = 'Pig'
    elif (year - 2000) % 12 == 8:
        sign = 'Rat'
    elif (year - 2000) % 12 == 9:
        sign = 'Ox'
    elif (year - 2000) % 12 == 10:
        sign = 'Tiger'
    else:
        sign = 'Hare'

    return ("Your Zodiac sign :",sign)

year = int(input())
print(zodiac(year))

2022
('Your Zodiac sign :', 'Tiger')